<canvas class="islamic-bank-contract canvasReceipt" height="1700" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract0Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
       <div class="container-fluid" styel="direction:rtl;">

        <div class="display-block text-center" style="margin-top:50px;">
          <img src='/reservation-system/public/images/contract1_cover1.png' width="1500px;"/>
        </div>
        <div class="display-block text-left" style="margin-bottom:100px;">
          <img src='/reservation-system/public/images/contract1_cover2.png' width="1000px;"/>

        </div>

      </div>
  </iframe>
<!-- end of page 1 -->
<!-- Page 1-->
<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract1Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
       <div id="invoice" class="container">
        <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12" style="direction:rtl;height:1490px;">
            <form class="form-style-4" action="" method="post">
                <div class="row display-block" style="margin-bottom:20px;">
                    <div class="col-xs-12">
                    <br><br>
                      <div for="field0" class="display-block">
                        <span class="pull-right font-size-25">أبرمت هذه الاتفاقية في تاريخ</span>
                        <input type="text" name="field0" required="true" value="<%- contractDate%>" class="width-27 text-center pull-right" value=""/>
                      </div>
                      <br><br><br><br>
                </div>
                  <span class="col-xs-12 display-block font-size-25">بين كل من:
                  </span>
                  <span class="col-xs-12 display-block font-size-25">شركة بيتي للاستثمار العقاري المساهمة الخصوصية المحدودة
                  </span>
                  <span class="col-xs-12 display-block font-size-25">المسجلة لدى مراقب الشركات في السلطة الوطنية الفلسطينية تحت الرقم <%- companyNum%> وعنوانها رام الله
                  </span>
                  <span class="col-xs-12 display-block font-size-25">ويمثلها لغايات التوقيع على هذه الاتفاقية: <input type="text" name="field3" required="true" value="<%- systemUser%>" class="width-27 text-center"/>
                  </span>
                  <span class="col-xs-12 display-block font-size-25">(ويشار لها في هذه الاتفاقية ب "الفريق الأول" و/أو "المتعهد بالبيع")
                  </span>
                </div>
                <br><br><br>
                <div class="row display-block" style="margin-bottom:20px;">
                  <div class="display-block">
                      <span class="col-xs-12 pull-right font-size-25">و</span>
                  </div>
                  <br><br><br>
                  <br><br><br>
                  <div class="display-block">
                    <div  class="display-block">
                     <span class="col-xs-12 display-block font-size-25">شركة البنك الاسلامي العربي م.ع.م
                     </span>
                     <span class="col-xs-12 display-block font-size-25">المسجلة لدى مراقب الشاركات في السلطة الوطنية الفلسطينية تحت الرقم 563201011 و عنوانها البيرة
                     </span>
                    <div class="col-xs-12">
                      <span class="pull-right font-size-25"> ويمثلها لغايات توقيع هذه الاتفاقية </span>
                       <b class="bold"><%- purchaser1%></b>
                    </div>
                  </div>
                  <div class="display-block" style="margin-top:50px;">
                    <div class="col-xs-12">
                      <span  class="pull-right font-size-25">(ويشار لها في هذه الاتفاقية ب((الفريق الثاني)) و/أو ((المتعهد بالشراء))</span>
                    </div>
                  </div>
                  </div>
                  <br><br><br>

                  <br><br><br>

                  <br><br><br><br><br>


                  <br><br><br>

                  <br><br><br>

                  <br><br><br>

                  <br><br><br><br>

                  <br><br><br>

                  <br><br><br>

                  <br><br><br>

                  <br><br><br><br><br>

                  <br><br><br>

                  <br><br><br>

                  <br><br><br>

                  <br>

                </div>
              </form>

              <div class="row pagenation">
                <div class="col-xs-12">
                    <form class="form-style-4" method="post">
                      <h4 class="display-block text-left">
                        <span>التوقيع</span>
                        <input type="text" class="width-27 text-center"/>
                        <span>صفحة رقم</span>
                        <input type="text" class="width-180 text-center" value="1"/>
                      </h4>
                    </form>
                  </div>
              </div>
        </div>



    </iframe>
<!-- end of page 1 -->
<!-- Page 2 -->
<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract2Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">

        <div id="invoice" class="container">

        <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="direction: rtl;height:1500px;">
           <form class="form-style-4" action="" method="post">
              <div class="row display-block" style="margin-bottom:20px;">
                <label class="display-block" style="margin-bottom:30px;">
                  <span style="color:#71BF45;"><h2>المقدمة</h2></span>
                </label>
                <span class="display-block font-size-25 text-justify">
                حيث أن الفريق الأول هو شركة استثمار عقاري تقوم بإنشاء وتشييد مشروع ("مدينة روابي") بحيث يشمل أحياء يتكون كل منها من بنايات مقسمة إلى عدة وحدات سكنية؛
                </span>
                <span class="display-block font-size-25 text-justify">
                  وحيث أن الفريق الثاني يرغب بشراء وحدة سكنية في مدينة روابي من الفريق الأول، وأنه بعد اطّلاعه على الوحدة السكنية موضوع هذه الاتفاقية     و/أو اطلاعه على مخططات البناء الخاصة بها، أبدى رغبته بشراء الوحدة السكنية (الشقة) رقم<input type="text" required="true" class="text-center" value="<%-unitNum %>" style="width:100px;"/> الواقعة في الطابق رقم<input type="text" class="text-center" value="<%-floorNum %>" style="width:100px;"/> البالغة مساحتها الإجمالية<input type="text" required="true" class="text-center" value="<%-unitArea %>" style="width:100px;"/>متراً مربعاً الكائنة في حي<input type="text" required="true" class="text-center" value="<%-haiName %>" style="width:100px;"/>ووصفها:<br>

                    <!-- Edited By Ahmad Tome -->

                    <div style="width:1070px;">
                        <span style="padding-bottom: 10px;border-bottom: 1px dashed #71BF45;line-height: 48px;">
                                <%-unitDesc %>
                        </span>
                    </div>

                 <!-- <input type="text" value="<%-unitDesc %>" style="width:1070px;"/>
                  <input type="text"  style="width:1070px;"/> -->
                  <br><br>
                </span>
                <span class="display-block font-size-25 text-justify">
                  المبينة مواصفاتها الإنشائية والفنية في ملحق المواصفات المرفق ملحق رقم (1) من البناية رقم <input type="text" class="text-center" value="<%-buildingNum %>" style="width:100px;"/> المقامة على قطعة الأرض رقم <input type="text" required="true" class="text-center" value="<%-landNum%>" style="width:100px;"/>من حوض <input type="text" class="text-center" required="true" value="<%-hawdName %>" style="width:400px;"/> رقم<input type="text" required="true" class="text-center" value="<%-hawdNum %>" style="width:100px;"/> من أراضي بلدة روابي قضاء رام الله؛
                </span>
                <span class="display-block font-size-25 text-justify">
                  وحيث أن الفريق الأول هو المالك والمتصرف بالأرض المقامة أو التي ستقام عليها الوحدة السكنية موضوع هذه الإتفاقية، ووافق على بيع الفريق الثاني الوحدة السكنية الموصوفة أعلاه وفقاً لأحكام وشروط هذه الاتفاقية، وأية تعديلات تلحق بها؛<br>
                  فقد ارتبط ايجاب الفريق الثاني بقبول الفريق الأول وفقاً لأحكام وشروط وأسس هذه الاتفاقية والآتي ذكرها:
                </span>
              </div>
              <div class="row display-block" style="margin-bottom:20px;">
                <label class="display-block" style="margin-bottom:30px;">
                  <span style="color:#71BF45;"><h2>أولاً: التعريفات والمقدمة</h2></span>
                </label>
                <div class="cell-lg-1 font-size-25 text-justify">1.</div>
                <div class="cell-lg-2 font-size-25 text-justify">يكون للمصطلحات والعبارات المستخدمة في هذه الإتفاقية المعاني المشار إليها أدناه، ما لم يدل السياق على خلاف ذلك:</div>
                <div class="cell-lg-1 font-size-25 text-justify"> أ.</div>
                <div class="cell-lg-2 font-size-25 text-justify">"الوحدة السكنية" أو "المبيع" تعني الوحدة السكنية موضوع هذه الإتفاقية والموصوفة في مقدمة هذه الاتفاقية. </div>

                <div class="cell-lg-1 font-size-25 text-justify">ب.</div>
                <div class="cell-lg-2 font-size-25 text-justify">"البناية" أو "المبنى"  يقصد به المبنى رقم <input type="text" class="text-center" value="<%-buildingNum%>" style="width:80px;" /> الكائن في حي <input type="text" class="text-center" class="text-center" value="<%-haiName%>" style="width:80px;" /> من مدينة روابي والواقع فيه المبيع.</div>

                <div class="cell-lg-1 font-size-25 text-justify">ج.</div>
                <div class="cell-lg-2 font-size-25 text-justify">"الحي" يقصد به حي <input type="text" class="text-center" required="true" value="<%-haiName%>" style="width:80px;" /> من مدينة روابي، والذي يحتوي على <input type="text" class="text-center" value="<%-buildingsNum%>" style="width:80px;" /> مبنى والتي من ضمنها المبنى المبين في الفقرة (ب) أعلاه.</div>

                <div class="cell-lg-1 font-size-25 text-justify">د.</div>
                <div class="cell-lg-2 font-size-25 text-justify">"اتحاد الملاك" المقصود به اتحاد الملاك المنشأ بموجب عقد تأسيس الاتحاد الموثق لدى كاتب عدل رام الله والمنظم وفق أحكام النظام الداخلي الخاص به والمرفق في هذه الاتفاقية ملحق رقم (2)، وذلك بالاستناد للمادة (19) من القانون رقم (1) لسنة 1996 بشأن تمليك الطبقات والشقق والمحلات وتعديلاته.</div>

                <div class="cell-lg-1 font-size-25 text-justify">ه.</div>
                <div class="cell-lg-2 font-size-25 text-justify">"الأجزاء المشتركة": تشمل الأرض المقام عليها المبيع، هيكل البناء، وأجزاؤه وملحقاته غير المعدة للاستعمال الخاص بأحد الملاك، وتشمل بوجه خاص ما نص عليه القانون رقم (1) لسنة 1996 بشأن تمليك الطبقات والشقق والمحلات وتعديلاته، وما نص عليه في النظام الداخلي لاتحاد الملاك الملحق رقم (2) وهذه الاتفاقية وتعديلاتها.</div>

                <div class="cell-lg-1 font-size-25 text-justify">2.</div>
                <div class="cell-lg-2 font-size-25">تعتبر مقدمة هذه الإتفاقية وكافة ملحقاتها جزء لا يتجزأ منها وتقرأ معها كوحدة واحدة. يوجد <input type="text" class="text-center" value="<%-appendix%>" style="width:80px;" /> ملاحق لهذه الإتفاقية: ملحق (1) المواصفات الإنشائية والفنية للمبيع، ملحق (2) النظام الداخلي لاتحاد الملاك وعقد التأسيس، ملحق (3) تعهد واقرار، ملحق (4) آلية دفع ثمن المبيع، ملحق (5) ملحق الاضافات أو التعديلات على المبيع.<div style="width:1070px;">
                        <span style="padding-bottom: 10px;border-bottom: 1px dashed #71BF45;line-height: 48px;">
                                <%-moreInfo %>
                        </span>
                    </div>
                </div>
                <br><br>
              </div>
              <div class="row display-block">
                <label class="display-block" style="margin-bottom:30px;">
                  <span style="color:#71BF45;"><h2>ثانياً: مدة الاتفاقية</h2></span>
                </label>
                <span class="display-block font-size-25 text-justify">تبدأ هذه الاتفاقية اعتبارا من تاريخ توقيعها من قبل الفريقين، وتنتهي بتنفيذ أطرافها كافة الالتزامات المترتبة بموجبها عليهم.
                </span>
              </div>
            </form>
         </div>
         <div class="row pagenation">
          <div class="col-xs-12">
            <form class="form-style-4" method="post">
              <h4 class="display-block text-left">
                <span>التوقيع</span>
                <input type="text" class="width-27 text-center"/>
                <span>صفحة رقم</span>
                <input type="text" class="width-180 text-center" value="2"/>
              </h4>
            </form>
          </div>
        </div>
      </div>

    </iframe>
<!-- end of page 2-->
<!-- Page 3 -->
  <canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract3Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="direction:rtl;margin-bottom:300;">
           <form class="form-style-4" action="" method="post">
              <div class="row display-block" style="margin-top:40px;margin-bottom:20px;">
                <label class="display-block" style="margin-bottom:30px;">
                  <span style="color:#71BF45;"><h2>ثالثاً: وصف المبيع</h2></span>
                </label>
                <div class="cell-lg-1 font-size-25 text-justify">1.</div>
                <div class="cell-lg-2 font-size-25 text-justify">الوحدة  السكنية الموصوفة في مقدمة هذه الاتفاقية وحصتها في الأجزاء المشتركة. </div>
                <div class="cell-lg-1 font-size-25 text-justify">2.</div>
                <div class="cell-lg-2 font-size-25 text-justify">حق ملكية واستعمال الأجزاء والمرافق المشتركة في البناية وفي الحي الكائن فيه في الحدود والكيفية التي حددها قانون رقم (1) لسنة 1996 بشأن تمليك الطبقات والشقق والمحلات وتعديلاته، والأنظمة والتعليمات والقرارات الصادرة بموجبه وأية تعديلات تطرأ عليها، وأيضا وفقا للنظام الداخلي لاتحاد الملاك المرفق في هذه الاتفاقية ملحق رقم (2) وأية تعديلات تطرا عليه.</div>
              </div>
              <div class="row display-block" style="margin-bottom:20px;">
                <label class="display-block" style="margin-bottom:30px;">
                  <span style="color:#71BF45;"><h2>رابعاً: إقرارات وتعهدات والتزامات الفريق الأول</h2></span>
                </label>
                <div class="cell-lg-1 font-size-25 text-justify">1.</div>
                <div class="cell-lg-2 font-size-25 text-justify">سيقوم الفريق الأول بإنشاء وتشييد وتشطيب المبيع موضوع هذه الاتفاقية وفقاً للمواصفات الإنشائية والفنية المفصلّة في ملحق المواصفات المرفق ملحق رقم(1)؛ على أنه إذا اضطّر الفريق الأول إلى تغيير المواصفات المبينة في ملحق رقم (1) بسبب عدم توافرها من المصدر، يلتزم بتوفير مواصفات بنفس الجودة (
                والكمية ولا يكون للفريق الثاني في هذه الحالة الحق في فسخ الاتفاقية. أما إذا اضطّر الفريق الأول إلى تغيير المواصفات المبينة في ملحق رقم (1) بشكل يؤدي
                إلى فرق في مساحة المبيع الكلية، يقوم بإخطار الفريق الثاني بذلك. وحينها يكون للأخير (الفريق الثاني) الخيار إما بالموافقة على مثل ذلك التغير أو فسخ
                الاتفاقية واسترداد جميع المبالغ التي قام بدفعها للفريق الأول حتى تاريخه.</div>

                <div class="cell-lg-1 font-size-25 text-justify">2.</div>
                <div class="cell-lg-2 font-size-25 text-justify">يكون التاريخ المتوقع للانتهاء من بناء المبيع والموعد المقدّر لتسليم المبيع موضوع هذه الاتفاقية للفريق الثاني خلال <input type="text" value="<%-during%>" class="text-center" style="width:150px;" />  ما لم
                يحول دون ذلك أي مانع أو سبب من الموانع والأسباب الخارجة عن إرادة الفريق الأول كالقوة القاهرة أو الحروب أو الكوارث الطبيعية أو بفعل السلطات
                الحاكمة أو لأسباب تجارية أو غيرها من الأسباب الكفيلة بمنع الفريق الأول من تنفيذ ذلك.</div>

                <div class="cell-lg-1 font-size-25 text-justify">3.</div>
                <div class="cell-lg-2 font-size-25 text-justify">يعمل الفريق الأول على إيصال كافة شبكات الخدمات الأساسية من ماء وكهرباء وغاز وهاتف وانترنت وصرف صحي إلى البناية التي يقع فيها المبيع، ووفقاً
                للبنية التحتية المتوفرة واللازمة لذلك.</div>

                <div class="cell-lg-1 font-size-25 text-justify">4.</div>
                <div class="cell-lg-2 font-size-25 text-justify">يلتزم الفريق الأول بتسليم المبيع للفريق الثاني وتمكينه من استعماله والتصرف فيه تصرف المالك بملكه بعد إتمام إجراءات التنازل الرسمي وإفراغ المبيع
                باسم الفريق الثاني وبعد قبض كامل ثمن المبيع.</div>


              </div>
              <div class="row display-block" style="margin-bottom:40px;">
                <label class="display-block" style="margin-bottom:30px;">
                  <span style="color:#71BF45;"><h2>خامساً: إقرارات وتعهدات والتزامات الفريق الثاني</h2></span>
                </label>
                <span class="display-block font-size-25 text-justify"><label>1. يقر الفريق الثاني ويتعهد ويلتزم بما يلي:</label>
                </span>
                <div class="cell-lg-1 font-size-25 text-justify">أ.</div>
                <div class="cell-lg-2 font-size-25 text-justify">بأنه يعلم علماً تاماً بأن توقيع الفريق الأول على هذه الاتفاقية لا يعني بالضرورة أن المبيع قد اكتمل بناءه، وأن المبيع والبناء في طور التشييد، أو أنه لم يشيد
                بعد، وأنه اطلع على مخططات بناء المبيع وعلى المواصفات الإنشائية والفنية الخاصة بالمبيع وعاينها معاينة تامة نافية لأي غموض أو جهالة ووافق على شرائه
                وفقاً لذلك وأن توقيعه على هذه الاتفاقية يعد قبولاً لها ويفيد اطّلاعه عليها وتفهم محتواها.</div>
                <div class="cell-lg-1 font-size-25 text-justify">ب.</div>
                <div class="cell-lg-2 font-size-25 text-justify">بكافة القوانين والأنظمة السارية في فلسطين والتي تحكم وتنظم المبيع وما يلحق به من أجزاء ومرافق مشتركة غير المعدة للاستعمال الخاص بأحد الملاك،
              إذ يتعهد في إشغاله واستعماله للمبيع بالالتزام بجميع الأحكام المنصوص عليها في قانون تمليك الطبقات والشقق والمحلات الفلسطيني رقم (1) لسنة 1996
              وأية تعديلات قد تطرأ عليه وكذلك بالإيفاء بكافة الالتزامات المالية والعينية المنصوص عليها في تلك القوانين والأنظمة والملاحق المرفقة بهذه الاتفاقية.</div>

               <div class="cell-lg-1 font-size-25 text-justify">ج.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بتوثيق اتفاق تكوين اتّحاد الملاك عند استلامه للمبيع وفقاً للمرفق ملحق رقم (2) القسم الثاني أمام كاتب العدل إن طلب الفريق الأول ذلك، وبالتوقيع مع
باقي أصحاب الوحدات السكنية الأخرى في المباني الكائنة في الحي على النظام الداخلي الخاص اتّحاد الملاك بحيث يخول هذا الاتّحاد بإدارة المباني الكائنة</div>
              </div>
            </form>
          </div>
          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="3"/>
                </h4>
              </form>
            </div>
        </div>
      </div>
    </iframe>
<!-- end of page 3-->
<!-- Page 4-->
  <canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract4Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction: rtl;height:1500px;">
               <form class="form-style-4" action="" method="post">
                  <div class="row display-block" style="margin-bottom:20px;">


                    <div class="cell-lg-1 font-size-25 text-justify">د.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بتطبيق جميع الأحكام المنصوص عليها في النظام الداخلي الخاص باتحاد الملاك ملحق رقم (2) وأية تعديلات تطرأ عليه، كما يتعهد بالإيفاء بكافة الالتزامات المالية والعينية الناشئة عن عضويته في اتحاد الملاك وكذلك المترتبة عن أية إتفاق/إتفاقيات يبرمها اتحاد الملاك مع الغير، وعليه فقد قام الفريق الثاني بتوقيع تعهد وإقرار للإلتزام بذلك على النحو المفصل في ملحق رقم (3) المرفق في هذه الاتفاقية.</div>

                    <div class="cell-lg-1 font-size-25 text-justify">ه.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بتسديد ثمن المبيع وفقا لما هو موضح في البند (سابعاً) أدناه، وبعكس ذلك يصار إلى تطبيق الشروط الجزائية الواردة بهذه الإتفاقية.</div>

                    <div class="cell-lg-1 font-size-25 text-justify">و.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بتوصيل وتركيب عدادات الماء والكهرباء والغاز وخدمة الهاتف للمبيع على نفقته وحسابه الخاص.</div>

                    <div class="cell-lg-1 font-size-25 text-justify">ز.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بعدم استعمال أو السماح باستعمال المبيع أو الطابق الموجود فيه المبيع لغير السكن، أو بما يخالف القوانين والأنظمة المراعية والآداب العامة.</div>

                    <div class="cell-lg-1 font-size-25 text-justify">ح.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بالحصول على الموافقات اللازمة والأذونات المطلوبة من قبل سلطة الأراضي والجهات الرسمية المختصة لغايات تملكه المبيع موضوع هذه ا لاتفاقية إن تطلب الأمر ذلك.</div>

                    <br><br><br>



                  </div>
                  <div class="row display-block" style="margin-bottom:40px;">
                    <label class="display-block" style="margin-bottom:30px;">
                      <span style="color:#71BF45;"><h2>سادساً: القيود على المظهر الخارجي</h2></span>
                    </label>
                    <span class="display-block font-size-25 text-justify">يقر الفريق الثاني أنه يعلم علما تاما بان المبيع موضوع هذه الاتفاقية هو جزء لا يتجزأ من مدينة روابي، وعليه وحفاظا على المظهر العام لمدينة روابي والبناية التي يقع فيها المبيع والحي الكائن فيه، فقد اتفق الفريقان على الأحكام والشروط الآتية، والتي هي واجبة النفاذ والتطبيق على المبيع، حتى بعد انتقال ملكيته للفريق الثاني. ويصرح الفريق الثاني بأنه ملتزم بما يأتي:
                    </span>
                    <div class="cell-lg-1 font-size-25 text-justify">1.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">عدم إجراء أي تعديلات أو تغيرات مهما كانت الواجهات الخارجية والأمامية للمبيع أو أي من المنافع والخدمات المشتركة في البناية الواحدة أو بجميع البنايات داخل الحي، بدون أخذ الموافقات والتراخيص اللازمة وفقا لأحكام النظام الداخلي لاتحاد الملاك المرفق (ملحق رقم 2).</div>

                    <div class="cell-lg-1 font-size-25 text-justify">2.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">تكون كافة الواجهات والشرفات والمظلات والألمنيوم والحمايات والشبابيك والجدران الخارجية وأية أشياء ظاهرة خارجيا  في المبيع متطابقة في اللون والشكل والتصميم مع كافة الشقق الأخرى في البناية ومع المقايس والمواصفات والأحكام المحددة لمدينة روابي من قبل الفريق الأول.</div>

                    <div class="cell-lg-1 font-size-25 text-justify">3.</div>
                    <div class="cell-lg-2 font-size-25 text-justify"> عدم إقامة أو تثبيت سواء بشكل مؤقت أو دائم معدات أو أجهزة البث والاستقبال مهما كانت أو لافتات أو لوحات على المبيع.</div>
                  </div>

                  <label class="display-block" style="margin-bottom:10px;">
                      <span style="color:#71BF45;"><h2>سابعاً: الثمن</h2></span>
                    </label>
                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">1.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">يلتزم الفريق الثاني بشراء المبيع موضوع هذه الإتفاقية بمبلغ اجمالي وقدره (<input type="text" value="<%-priceTotal%>" class="text-center" style="width:100px;"/>)<input class="font-small" type="text" value="<%-priceTotalWords%>" style="width:400px;"/> دولار أمريكي فقط، بحيث يشمل حصة الشقة في قطعة الأرض المقامة عليها العمارة والبالغ قدره (<input type="text" class="text-center" value="<%-pricePart2%>" style="width:100px;"/>)<input type="text" class="font-small" value="<%-pricePart2Words%>" style="width:300px;"/>دولار أمريكي، وثمن إنشاء الشقة والأجزاء المشتركة في العمارة والبالغ قدره (<input type="text" value="<%-pricePart1%>" class="text-center" style="width:100px;"/>)<input type="text" class="font-small" value="<%-pricePart1Words%>" style="width:300px;"/> دولار أمريكي، ووافق الفريق الأول على البيع بهذا الثمن.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">2.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">يلتزم الفريق الثاني بسداد ثمن المبيع المبين أعلاه للفريق الأول وفقا الآلية المفصلة بملحق رقم (4).</div>                  </div>
                  <div class="row display-block" style="margin-bottom:10px;">
                    <label class="display-block" style="margin-bottom:10px;">
                </form>
          </div>

          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="4"/>
                </h4>
              </form>
            </div>
          </div>
        </div>

    </iframe>
<!-- end of page 4-->
<!-- Page 5 -->
  <canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract5Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png" height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction:rtl;height:1500px;">
               <form class="form-style-4" action="" method="post">
                  <div class="row display-block" style="margin-bottom:10px;">

                      <span style="color:#71BF45;"><h2>ثامناً: الإضافات والتعديلات على المبيع</h2></span>
                    </label>
                    <span class="display-block font-size-25 text-justify">يجوز للفريق الثاني طلب إجراء أية تعديلات أو تغييرات أو إضافات على المبيع و/أو على المواصفات الإنشائية والفنية الخاصة بالمبيع و/أو إضافة أية أعمال أو
                    ديكورات أو مواصفات جديدة عن ما هو موضح في الملحق (1)، على أن تكون تلك التعديلات أو التغييرات أو الإضافات من ضمن الخيارات المتوفرة لدى الفريق
                    الأول والتي يطرحها أو قد يطرحها على الفريق الثاني وفي حال كان ذلك ممكناً، ووافق الفريق الأول على إجرائه يتم الاتفاق بين الفريقين على التكلفة التقديرية
                    لهذه الإضافات أوالتعديلات، وتعتبر جزءً من الثمن، وتوثق بموجب اتفاق خطي لاحق يبرم بين الفريقين حسب الملحق رقم (5)، ويعتبر جزءً لا يتجزأ من هذه
                    الاتفاقية</span>
                  </div>
                  <div class="row display-block" style="margin-bottom:10px;">
                    <label class="display-block" style="margin-bottom:10px;">
                      <span style="color:#71BF45;"><h2>تاسعاً: الاختلاف في المواصفات</h2></span>
                    </label>
                    <span class="display-block font-size-25 text-justify">في حال ظهور أي اختلاف جوهري بين المواصفات الفنية المبينة في هذه الاتفاقية وملحقاتها وواقع المبيع، للفريق الثاني مراجعة الفريق الأول بشأنها ومطالبته
                    بمعالجة الاختلاف، وذلك خلال ستة أشهر من تاريخ استلام الفريق الثاني المبيع؛ ويسقط حق الفريق الثاني بذلك بعد انقضاء مده الستة شهور المذكورة والتي
                    بانقضائها يعتبر الفريق الثاني موافقاً على المبيع ومقراً بتطابق مواصفاته مع المواصفات الفنية المبينة في هذه الاتفاقية وملحقاتها و/أو مقراً بقبوله لأي اختلاف
                    بينهما ويستثنى من ذلك العيوب الانشائية الخفية على أن لا يحق للفريق الثاني مراجعة الفريق الأول بتلك العيوب الانشائية الخفية في الحالات التالية:</span>

                  <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">1.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">مطابقة المواصفات مع معايير الجودة والمواصفات الفلسطينية.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">2.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بمرور سنة على استلام المبيع محل الاتفاقية.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">3.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">في حال أي اختلاف أو خلل في المواصفات ناتج عن سوء الاستخدام أو العبث من قبل الفريق الثاني او من قبل أي طرف ثالث.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">4.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">في حال أي اختلاف أو خلل في المواصفات ناتج عن اهمال أو تقصير من الفريق الثاني أو ناتج عن أي تغيير في التصميم أو التخطيط.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">5.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">في حال أي اختلاف أو خلل في المواصفات ناتج عن أي عامل او خطر خارجي مثل النار، والكهرباء، والمياه، والتخريب، أو إغفال من طرف ثالث (بما في ذلك
                    أي محاولات لإصلاح الخلل من قبل أي طرف ثالث أو من قبل الفريق الثاني).</div>

                  </div>
                  <div class="row display-block" style="margin-bottom:10px;">
                    <label class="display-block" style="margin-bottom:10px;">
                      <span style="color:#71BF45;"><h2>عاشراً: تسجيل المبيع وحقوق الملكية</h2></span>
                    </label>
                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">1.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">يقوم الفريق الأول بالتنازل والفراغ عن المبيع للفريق الثاني بعد إتمام تشييده وتشطيبه وفقاً للمواصفات المبينة في هذه الاتفاقية وملحقاتها، وإتمام إفراز
                    قطعة الأرض التي ستقام عليها البناية وإفراز المبيع وفقاً لإجراءات إفراز الشقق والطوابق، وعند قيام الفريق الثاني بتسديد ثمن المبيع وفقا للآلية المفصلة
                    في الملحق رقم (4) وتنفيذ جميع التزاماته المبينة في هذه الاتفاقية وملحقاتها و/أو أي تعديل خطي لاحق عليها.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">2.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">يتحمل الفريق الثاني كافة الرسوم والمصاريف اللازمة لغايات نقل ملكية المبيع وتسجيله باسمه لدى الموقع الرسمي وفقاً لأحكام القانون الساري.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">3.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">بعد قيام الفريق الثاني بدفع كامل ثمن المبيع وتسجيله باسمه، يصبح الفريق الثاني مالكاً للمبيع موضوع هذه الاتفاقية على وجه الاستقلال، ومالكاً على
وجه الشيوع ما يخص الوحدة السكنية من حصص في الأجزاء المشتركة في البناية وفي الحي.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">4.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">لا يحق للفريق الثاني الانتفاع و/أو التصرف بالمبيع على أي وجه أو أي جزء منه بأي شكل من أشكال التصرف قبل سداد كامل ثمن المبيع واكتمال تسجيله
باسمه في الموقع الرسمي.</div>

                  </div>

               </form>
            </div>

          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="5"/>
                </h4>
              </form>
            </div>
          </div>
        </div>

</iframe>
<!-- end of page 5-->
<!-- Page 6-->
  <canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract6Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction:rtl;height:1500px;">
               <form class="form-style-4" action="" method="post">
                  <div class="row display-block" style="margin-bottom:20px;">
                    <label class="display-block" style="margin-bottom:30px;">
                      <span style="color:#71BF45;"><h2>حادي عشر: الإحالة</h2></span>
                    </label>
                    <span class="display-block font-size-25 text-justify">لا يحق للفريق الثاني إحالة أي من حقوقه و/أو التزاماته المبينة في هذه الاتفاقية لأي طرف آخر ما لم يحصل على الموافقة الخطية الصريحة المسبقة من الفريق
الأول. ويحق للفريق الأول إحالة أي من حقوقه و/أو التزاماته المبينة في هذه الاتفاقية لأي طرف آخر بإرادته المنفردة.
                    </span>
                  </div>
                  <div class="row display-block" style="margin-bottom:20px;">
                    <label class="display-block" style="margin-bottom:30px;">
                      <span style="color:#71BF45;"><h2>ثاني عشر: التخلف والإخلال</h2></span>
                    </label>
                    <span class="display-block font-size-25 text-justify">من المتفق عليه بين الفريقين بأنه وفي حال إخلال الفريق الثاني بأي من التزاماته المقررة بموجب هذه الاتفاقية و/أو تخلّفه عن سداد أية دفعة أو قسط من
                    دفعات أو أقساط المبيع أو تأخر في سداد أي دفعة أو قسط لمدة تزيد عن أسبوع من تاريخ استحقاقها ما لم يكن هناك قوة قاهرة، فمن حق الفريق الأول فسخ
                    هذه الاتفاقية واعتبار نفسه في حلّ من التزاماته بموجبها مع حقه بالاحتفاظ بالدفعة الاولى التي دفعها الفريق الثاني للفريق الأول كتعويض اتفاقي للفريق
                    الأول والمطالبة بأية مبالغ و/أو مصاريف تكبدها الفريق الأول بسبب طلب الفريق الثاني لأية خيارات اضافية على التشطيبات الموجودة و/أو تعديلات و/أو
                    اضافات على المبيع.</span>
                  </div>
                  <div class="row display-block" style="margin-bottom:20px;">
                    <label class="display-block" style="margin-bottom:30px;">
                      <span style="color:#71BF45;"><h2>ثالث عشر: أحكام عامة</h2></span>
                    </label>
                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">1.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">تكون هذه الاتفاقية بكافة أحكامها وشروطها وملحقاتها وأي تعديل قد يجري عليها ملزمة للفريقين ولخلفهما العام والخاص.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">2.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">في حالة تعذر تنفيذ و/أو إهمال أي نص أو شرط أو حكم وارد في هذه الاتفاقية و/أو ملحقاتها و/أو أي تعديل قد يطرأ عليها لتعارضه مع القوانين
السارية، فإن ذلك النص أو الشرط أو الحكم يعتبر لاغياً بالقدر الذي يتعارض به مع أحكام القوانين السارية وفي حدود التعارض فقط دون التأثير في
نصوص الاتفاقية الأخرى. كما يتم تفسير البند المتعارض مع حكم القانون الساري بما لا يتجاوز الغرض الذي وضع من أجله ودون المساس بروح هذه
الاتفاقية و/أو ملحقاتها و/أو أي تعديل قد يطرأ عليها و/أو للقيمة القانونية لباقي نصوص وشروط وأحكام الاتفاقية و/أو ملحقاتها و/أو أي تعديل
قد يطرأ عليها.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">3.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">أي تغيير أو تعديل على هذه الاتفاقية يجب أن يكون خطياً وموقعاً من الفريقين ويصدر بشكل ملحق لهذه الاتفاقية، على أن يعتبر جزءً لا يتجزأ من الاتفاقية
ويقرأ معها كوحدة واحدة.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">4.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">إن عناوين البنود في هذه الاتفاقية وضعت لغايات تسهيل قراءتها، ولا يجوز الاعتماد عليها لغايات تفسير أحكامها.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">5.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">يقر الفريقان باعتماد عناوينهم المبينة في مقدمة هذه الاتفاقية كمكان إقامة مختار، وذلك لغايات تبليغ الإخطارات والمراسلات والإشعارات بينهما. ويجوز
إثبات حدوث التبليغات والإخطارات والمراسلات بكافة طرق الإثبات. ويلتزم كل فريق بإبلاغ الفريق الآخر عن أي تغيير لعنوانه خلال مدة لا تزيد عن أسبوع
من تاريخ حدوث التغيير ولا يعتد بالعنوان الجديد إلا بعد تبليغ الفريق المعني إشعار تغيير العنوان المذكور.</div>
                  </div>
                  <div class="row display-block" style="margin-bottom:20px;">
                    <label class="display-block" style="margin-bottom:30px;">
                      <span style="color:#71BF45;"><h2>رابع عشر: القانون المطبق وحل النزاعات</h2></span>
                    </label>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;"> 1.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">تخضع هذه الاتفاقية لأحكام القانون الفلسطيني المطبق في الضفة الغربية فقط بما لا يتعارض مع أحكام الشريعة الإسلامية، وتلزم أية محكمة أو جهة
تنظر في أي نزاع ناشئ عنها و/أو متعلق بها بتطبيق أحكام القانون الفلسطيني.</div>

                    <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">2.</div>
                    <div class="cell-lg-2 font-size-25 text-justify">مع مراعاة ما ورد في البند (1) أعلاه، يكون الاختصاص المكاني المتفق عليه سلفاً بين الفريقين للمحاكم النظامية العاملة في مدينة رام الله دون سواها، وذلك
للنظر في أي نزاع أو خلاف يتعلق بتفسير و/أو تنفيذ أي بند من بنود هذه الاتفاقية، أو مجملها.</div>
                  </div>

               </form>
            </div>

            <div class="row pagenation">
              <div class="col-xs-12">
                <form class="form-style-4" method="post">
                  <h4 class="display-block text-left">
                    <span>التوقيع</span>
                    <input type="text" class="width-27 text-center"/>
                    <span>صفحة رقم</span>
                    <input type="text" class="width-180 text-center" value="6"/>
                  </h4>
                </form>
              </div>
            </div>
      </div>

    </iframe>
<!-- end of page 6-->
<!-- Page 7 -->
<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract7Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction:rtl;height:1500px;">
               <form class="form-style-4" action="" method="post">
                  <div class="row display-block" style="margin-bottom:25px;">
                    <label class="display-block" style="margin-bottom:30px;">
                      <span style="color:#71BF45;"><h2>خامس عشر: النسخ والبنود والصفحات</h2></span>
                    </label>
                    <span class="display-block font-size-25 text-justify" style="margin-bottom:20px;"> تم تحرير هذه الاتفاقية من مقدَمة وخمسة عشر بنداً (بما فيها هذا البند) على سبعة صفحات، بالإضافة إلى<input type="text" class="text-center" value="<%-appendix%>" style="width:80px;"/> ملاحق المذكورة، وعلى نسختين اثنتين تعتبر كل منهما نسخة أصلية ويحتفظ كل فريق بنسخة واحدة منها،   وذلك عقب توقيعهما من قبل الفريقين حسب الاصول.
                    </span>
                    <span class="display-block font-size-25 text-justify" style="margin-top:15px;margin-bottom:50px;">وإيذاناً من الفريقين على موافقتهما على كل ما ورد في هذه الاتفاقية وملحقاتها، فقد قاما بتوقيع نسختيهما <br>
في مدينة روابي بتاريخ<input type="text"  value="<%-contractDay%>" class="text-center" style="width:100px;"/>من شهر <input type="text" class="text-center" value="<%-contractMonth%>" style="width:80px;"/>لعام<input type="text" class="text-center"  value="<%-contractYear%>" style="width:80px;"/>.
                    </span>
                  </div>
                  <div class="row display-block" style="margin-bottom: 50px;">
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >الفريق الثاني
                          </span>
                      </label>
                      <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="<%-purchaser%>" style="width:400px;"/>
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >الفريق الأول
                          </span>
                      </label>
                      <span class="display-block font-size-25" >شركة بيتي للاستثمار العقاري المساهمة الخصوصية المحدودة
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                  </div>
                  <div class="row display-block" style="margin-bottom: 50px;">
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >شاهد
                          </span>
                      </label>
                      <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >شاهد
                          </span>
                      </label>
                      <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                  </div>
                </form>
           </div>


          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="7"/>
                </h4>
              </form>
            </div>
         </div>
      </div>
    </iframe>
<!-- end of page 7-->
<!-- Page 8-->
<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract8Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
         <div id="invoice" class="container">
             <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
 <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                   <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                </div>
                </div>
            </div>
        </div>
          <div class="row" style="direction:rtl;height:1500px;">
            <div class="col-xs-12">
              <div class="row display-block">
                <span><h2>ملحق رقم (1)</h2></span>
              </div>
              <div class="row display-block" style="margin-top:50px;margin-bottom:50px;">
                  <span style="color:#71BF45;"><h2>المواصفات الفنية للتشطيبات في شقق روابي</h2></span>
              </div>

              <div class="row display-block" style="margin-top:50px;">
                <span class="display-block font-size-25" style="margin-bottom:50px;">سيراعى تصميم الوحدات السكنية بنماذجها المختلفة كافة عناصر الامن والسلامة الإنشائية في الهيكل الخرساني وذلك ضمن المعايير التالية:</span>

                <div class="cell-lg-1 font-size-25 text-justify">1.</div>
                <div class="cell-lg-2 font-size-25 text-justify">صممت البنايات وفق نظام إنشائي متطور.</div>

                <div class="cell-lg-1 font-size-25 text-justify">2.</div>
                <div class="cell-lg-2 font-size-25 text-justify">تلبيس جدران البنايات الخارجية بالحجر.</div>

                <div class="cell-lg-1 font-size-25 text-justify">3.</div>
                <div class="cell-lg-2 font-size-25 text-justify">استخدام مواد متطورة للعزل الحراري في البناء لترشيد استهلاك الطاقة.</div>

                <div class="cell-lg-1 font-size-25 text-justify">4.</div>
                <div class="cell-lg-2 font-size-25 text-justify">بلاط الأرضيات من البورسلان، وبلاط الحمامات من السيراميك.</div>

                <div class="cell-lg-1 font-size-25 text-justify">5.</div>
                <div class="cell-lg-2 font-size-25 text-justify">الأدوات الصحية وبطاريات المغاسل المركبة في حمامات الوحدات السكنية حديثة وعصرية.</div>

                <div class="cell-lg-1 font-size-25 text-justify">6.</div>
                <div class="cell-lg-2 font-size-25 text-justify">النوافذ والأبواب والترسات الجانبية مصنوعة من الزجاج المزدوج (Double-glaze) المحاط بالألمنيوم، وجميع النوافذ مزودة بأباجورات.</div>

                <div class="cell-lg-1 font-size-25 text-justify">7.</div>
                <div class="cell-lg-2 font-size-25 text-justify">الباب الرئيسي للوحدة السكنية متعدد الأقفال ومتين(Security Door).</div>

                <div class="cell-lg-1 font-size-25 text-justify">8.</div>
                <div class="cell-lg-2 font-size-25 text-justify">مفاتيح الكهرباء المركبة داخل الوحدات السكنية حديثة وعصرية.</div>

                <div class="cell-lg-1 font-size-25 text-justify">9.</div>
                <div class="cell-lg-2 font-size-25 text-justify">جميع المباني مزودة بمصاعد كهربائية حديثة تراعي السلامة العامة والأمان.</div>

                <div class="cell-lg-1 font-size-25 text-justify">10.</div>
                <div class="cell-lg-2 font-size-25 text-justify">جميع المباني مزودة بالمرايا الشمسية على الأسطح لتسخين المياه.</div>
              </div>

            </div>
          </div>
          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="8"/>
                </h4>
              </form>
            </div>
        </div>

        </div>

    </iframe>
<!-- end of page 8-->
<!-- Page 9-->
<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract9Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction:rtl;height:1500px;">
               <form class="form-style-4" action="" method="post">
                <div class="row display-block">
                  <span><h2>ملحق رقم (2)</h2></span>
                </div>
                <div class="display-block" style="margin-top:50px;">
                  <span class="display-block font-size-25">القسم الأول: النظام الداخلي لاتحاد ملاك الوحدات السكنية في أحياء بلدة روابي.</span>
                  <span class="display-block font-size-25">القسم الثاني: عقد تأسيس اتحاد ملاك الوحدات السكنية في حي <input type="text" class="text-center" value="<%-haiName%>" style="width:100px;"/>/قطعة أرض <input type="text" class="text-center" value="<%-landNum%>" style="width:100px;"/>  حوض رقم<input type="text" value="<%-hawdNum%>" class="text-center" style="width:180px;"/> من أراضي بلدة روابي.</span>
                </div>
              </form>
          </div>
         <div class="row pagenation">
          <div class="col-xs-12">
            <form class="form-style-4" method="post">
              <h4 class="display-block text-left">
                <span>التوقيع</span>
                <input type="text" class="width-27 text-center"/>
                <span>صفحة رقم</span>
                <input type="text" class="width-180 text-center" value="9"/>
              </h4>
            </form>
          </div>
        </div>
        </div>
    </iframe>
<!-- end of page 9-->
<!-- Page 10-->
<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract10Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
    <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction:rtl;">
              <div class="row">
                <span><h2>ملحق رقم (3)</h2></span>
              </div>
              <div class="row" style="margin-top:20px;margin-bottom:20px;">
                <span style="color:#71BF45;"><h2>سند إقرار وتعهد</h2></span>
              </div>
              <div class="row display-block" style="margin-bottom:10px;">
                <form class="form-style-4" action="" method="post">
                  <span class="font-size-25 text-justify" >أنا الموقع امضائي <input type="text" value="<%- purchaser%>" class="text-center" style="width:400px;"/> حامل /ة هوية و/أو جواز سفر رقم <input type="text" class="text-center" value="<%- idType1%>" style="width:300px;"/> (بصفتي المفوض بالتوقيع عن شركة <input type="text" class="text-center" value="<%-companyName%>" style="width:100px;"/>رقم تسجيل <input type="text" class="text-center" value="<%-companyNum%>" style="width:150px;"/>لدى <input type="text" value="<%-companyFor%>" class="text-center" style="width:100px;"/> ) مالك/ة الوحدة السكنية رقم<input type="text" class="text-center" value="<%-unitNum %>" style="width:100px;"/> الواقعة في الطابق رقم <input type="text" class="text-center" value="<%-floorNum%>" style="width:100px;"/> البالغة مساحتها <input type="text" value="<%-unitArea%>" class="text-center" style="width:100px;"/> متراً مربعاً من البناية رقم <input type="text" class="text-center" value="<%-buildingNum%>" style="width:100px;"/>الكائنة في حي <input type="text" value="<%-haiName%>" class="text-center" style="width:100px;"/> في بلدة روابي ("الوحدة السكنية")، أتعهد وأقر وأنا بكامل الصفات المعتبرة شرعاً وقانوناً بما يلي:</span>
               </form>
             </div>
             <div class="row display-block">
                <form class="form-style-4"  method="post">
                  <div class="cell-lg-1 font-size-25 text-justify">أ.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن لي الحق الكامل والصلاحية القانونية التامة بإعطاء هذا الإقرار/التعهد وأني أتحمل كامل المسؤولية القانونية والواقعية وكامل النفقات والمصاريف والخسارة/ الكسب الفائت مهما كان نوعه والتي قد تترتب نتيجة العمل/التصرف بموجب هذا التعهد وإن ما ورد في مقدمة هذا السند يعتبر جزءاً لا يتجزأ منه ويقرأ معه كبند من بنوده.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ب.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن التزم بالامتثال لجميع الأحكام المنصوص عليها في النظام الداخلي الخاص باتحاد ملاك رقم<input type="text" class="text-center" value="<%-estContrNum%>" style="width:100px;"/>الصادر عن كاتب عدل محكمة بلدية رام الله بتاريخ<input type="text" class="text-center font-small"                     value="<%-estContrDate%>" style="width:150px;"/>للوحدات السكنية في حي <input type="text" value="<%- haiName%>" class="text-center" style="width:100px;"/>والبالغة مساحته <input type="text" class="text-center" value="<%-haiArea%>" style="width:100px;"/> متراً مربعاً(”اتحاد الملاك“) وعقد التأسيس الخاص باتحاد الملاك رقم <input type="text" class="text-center" value="<%-estContrNum2%>" style="width:100px;"/> الصادر عن كاتب عدل محكمة بلدية رام الله بتاريخ <input type="text" class="text-center font-small" value="<%-estContrDate2%>"  style="width:150px;"/> والمرفق بهذا الإقرار/ التعهد وأية تعديلات تطرا عليه، علماً بأنني اطلعت على أحكام عقد التأسيس  والنظام الداخلي لاتحاد الملاك اطلاعاً كافياً وتم إفهامي بما ورد فيهما.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ج.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن ألتزم بإيفاء كافة الالتزامات المالية التي يفرضها اتحاد الملاك على الوحدة السكنية المبيّنة أعلاه ودفعها لاتحاد الملاك خلال الفترة المحدّدة من قبله و/أو
من قبل مجلس ادارته، من اشتراكات دورية واشتراكات خاصة بالتحسينات الكبيرة على الأجزاء المشتركة في العقار أو المتعلقة بسداد العجز في ميزانية اتحاد
الملاك لسداد النفقات التشغيلية. كما ألتزم بدفع أية نفقات ومصاريف مشتركة أخرى يفرضها اتحاد الملاك على مالكي الوحدات السكنية لإدارة الأجزاء
المشتركة في العقار وصيانتها وتصليحها والمحافظة عليها. وفي حال عدم التزامي بدفع الاشتراكات والنفقات والمصاريف المبيّنة أعلاه خلال الفترة المحددّة من
قبل اتحاد الملاك و/أو من قبل مجلس إدارته، يحق لاتحاد الملاك اتخاذ الاجراءات التي يراها مناسبة من أجل تحصيل تلك الاشتراكات والنفقات والمصاريف
باعتبارها دين مستحق في ذمتي (ذمة الشركة) لاتحاد الملاك.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">د.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن ألتزم بتوقيع أي شخص، ستنتقل اليه ملكية الوحدة السكنية، على مثل هذا الاقرار/التعهد وذلك قبل استكمال نقل ملكية الوحدة السكنية له، كما أتعهد
ألتزم بتزويد اتحاد الملاك بالنسخة الأصلية عن التعهد الموقّع من قبل ذلك الشخص (المالك المستقبلي) ليتم الاحتفاظ به في سجلات الاتحاد.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ه.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">إنني أقر بأن ما جاء في هذا السند يعتبر نهائياً وقطعياً وغير قابل للرجوع أو الإلغاء، وأنني أتعهد وألتزم بعدم الاعتراض على ما جاء في هذا السند والأمور
المتعلقة به والناشئة عنه، وإنني أسقط حقي بالإدعاء بيمين كذب الإقرار و/أو الدفع بعدم القبول و/أو الوفاء و/أو أي دفع شكلي أو موضوعي حول ما
جاء في هذا السند والأمور المتعلقة به والناشئة عنه.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">و.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">إنني أوقع هذا السند بدون ضغط أو إكراه وبإرادة حرة خالية من العيوب التزاماً مني بما جاء فيه.</div>



                </form>
                <br><br><br><br><br>
              </div>
              <div class="row display-block" style="margin-bottom:15px;">
                <form class="form-style-4"  method="post">
                  <div class="col-xs-6">
                    <span class="display-block font-size-25" >الموقع<input type="text" value="" style="width:400px;"/>
                    </span>
                    <label  class="display-block font-size-25">
                      <span>شاهد</span>
                    </label>
                    <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                    </span>
                    <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                    </span>
                  </div>
                  <div class="col-xs-6">
                    <span class="display-block font-size-25" >تحريراً في<input type="text" class="text-center" value="<%-contractDate %>" style="width:400px;"/>
                    </span>
                    <label  class="display-block font-size-25">
                      <span>شاهد</span>
                    </label>
                    <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                    </span>
                    <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                    </span>
                  </div>
                </form>
              </div>

           </div>

          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">

                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="10"/>
                </h4>
              </form>
            </div>
        </div>
      </div>

    </iframe>
<!-- end of page 10-->

<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract14Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
                <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>
          <div class="col-xs-12" style="direction:rtl;">
              <div class="row">
                <span><h2>ملحق رقم (3)</h2></span>
              </div>
              <div class="row" style="margin-top:20px;margin-bottom:20px;">
                <span style="color:#71BF45;"><h2>سند إقرار وتعهد</h2></span>
              </div>
               <div class="row display-block" style="margin-bottom:40px;">
                <form class="form-style-4" action="" method="post">
                  <span class="font-size-25 text-justify" style="margin-bottom:10px;">أنا الموقع امضائي <input type="text" value="<%- purchaser1%>" class="text-center" style="width:400px;"/> حامل /ة هوية و/أو جواز سفر رقم <input type="text" class="text-center" value="<%- idType1%>" style="width:300px;"/> (بصفتي المفوض بالتوقيع عن شركة <input type="text" class="text-center" value="<%-companyName%>" style="width:100px;"/>رقم تسجيل <input type="text" class="text-center" value="<%-companyNum%>" style="width:150px;"/>لدى <input type="text" value="<%-companyFor%>" class="text-center" style="width:100px;"/> ) مالك/ة الوحدة السكنية رقم<input type="text" class="text-center" value="<%-unitNum %>" style="width:100px;"/> الواقعة في الطابق رقم <input type="text" class="text-center" value="<%-floorNum%>" style="width:100px;"/> البالغة مساحتها <input type="text" value="<%-unitArea%>" class="text-center" style="width:100px;"/> متراً مربعاً من البناية رقم <input type="text" class="text-center" value="<%-buildingNum%>" style="width:100px;"/>الكائنة في حي <input type="text" value="<%-haiName%>" class="text-center" style="width:100px;"/> في بلدة روابي ("الوحدة السكنية")، أتعهد وأقر وأنا بكامل الصفات المعتبرة شرعاً وقانوناً بما يلي:</span>
               </form>
             </div>
             <div class="row display-block" style="margin-bottom:50px;">
                <form class="form-style-4"  method="post">
                  <div class="cell-lg-1 font-size-25 text-justify">أ.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن لي الحق الكامل والصلاحية القانونية التامة بإعطاء هذا الإقرار/التعهد وأني أتحمل كامل المسؤولية القانونية والواقعية وكامل النفقات والمصاريف والخسارة/ الكسب الفائت مهما كان نوعه والتي قد تترتب نتيجة العمل/التصرف بموجب هذا التعهد وإن ما ورد في مقدمة هذا السند يعتبر جزءاً لا يتجزأ منه ويقرأ معه كبند من بنوده.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ب.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن التزم بالامتثال لجميع الأحكام المنصوص عليها في النظام الداخلي الخاص باتحاد ملاك الوحدات السكنية في حي <input type="text" value="<%- haiName%>" class="text-center" style="width:100px;"/>والبالغة مساحته <input type="text" class="text-center" value="<%-haiArea%>" style="width:100px;"/> متراً مربعاً(”اتحاد الملاك“) والمرفق بهذا الإقرار/ التعهد وأية تعديلات تطرا عليه، علماً بأنني اطلعت على أحكام عقد التأسيس  والنظام الداخلي لاتحاد الملاك اطلاعاً كافياً وتم إفهامي بما ورد فيهما.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ج.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن ألتزم بإيفاء كافة الالتزامات المالية التي يفرضها اتحاد الملاك على الوحدة السكنية المبيَنة أعلاه ودفعها لاتحاد الملاك خلال الفترة المحدّدة من قبله و/أو من قبل مجلس ادارته، من اشتراكات دورية واشتراكات خاصة بالتحسينات الكبيرة على الأجزاء المشتركة في العقار أو المتعلقة بسداد العجز في ميزانية اتحاد الملاك لسداد النفقات التشغيلية. كما ألتزم بدفع أية نفقات ومصاريف مشتركة أخرى يفرضها اتحاد الملاك على مالكي الوحدات السكنية لإدارة الأجزاء المشتركة في العقار وصيانتها وتصليحها والمحافظة عليها.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">د.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">أقر بأنني على علم تام بأن رسوم الاشتراك السنوي المفروضة من قبل اتحاد الملاك لادارة الأجزاء المشتركة في العقار والمحافظة عليها  ، تدفع مقدما عن كل سنة، وعليه فإنني أتعهد بتحرير شيك/شيكات عدد <input type="text" class="text-center"     value="<%-checksNum%>" style="width:100px;"/> بقيمة رسوم الاشتراك الشهري وبمواعيد استحقاقها وذلك عند استلامي للوحدة السكنية، وفي حال كانت الرسوم غير مقرة بعد فإنني أتعهد بتحرير شيك/شيكات خالية من القيمة وفي هذه الحالة أخول لجنة اتحاد الملاك بتعبئة تلك القيمة بعد اقرار الرسوم السنوية، ومن المفهوم لدي بأنه لا يحق لي استلام الوحدة السكنية دون تحرير الشيكات المذكورة وتقديمها لصالح لجنة اتحاد الملاك.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ه.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">في حال عدم التزامي بدفع الاشتراكات والنفقات والمصاريف المبيّنة أعلاه خلال الفترة المحددّة من قبل اتحاد الملاك و/أو من قبل مجلس إدارته، يحق لاتحاد الملاك اتخاذ الاجراءات التي يراها مناسبة من أجل تحصيل تلك الاشتراكات والنفقات والمصاريف باعتبارها دين مستحق في ذمتي/ ذمة الشركة، لاتحاد الملاك. وأقر بأنني على علم تام بأنه لا يحق لي الحصول على أية خدمة مقدمة في مدينة روابي و/أو الانتفاع بالخدمات المقدمة للوحدة السكنية والأجزاء المشتركة الخاصة بها والحي الواقع فيه الوحدة السكنية دون الحصول على براءة ذمة صادرة عن لجنة اتحاد الملاك تفيد بتسديد كامل الالتزامات المالية المترتبة بذمتي له.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ز.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن ألتزم بتوقيع أي شخص، ستنتقل اليه ملكية الوحدة السكنية، على مثل هذا الاقرار/التعهد وذلك قبل استكمال نقل ملكية الوحدة السكنية له، كما أتعهد ألتزم بتزويد اتحاد الملاك بالنسخة الأصلية عن التعهد الموقع من قبل ذلك الشخص (المالك المستقبلي) ليتم الاحتفاظ به في سجلات الاتحاد.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ح.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">إنني أقر بأن ما جاء في هذا السند يعتبر نهائياً وقطعياً وغير قابل للرجوع أو الإلغاء، وأنني أتعهد وألتزم بعدم الاعتراض على ما جاء في هذا السند والأمور المتعلقة به والناشئة عنه، وإنني أسقط حقي بالإدعاء بيمين كذب الإقرار و/أو الدفع بعدم القبول و/أو الوفاء و/أو أي دفع شكلي أو موضوعي حول ما جاء في هذا السند والأمور المتعلقة به والناشئة عنه.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ط.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:15px;"> إنني أوقع هذا السند بدون ضغط أو إكراه وبإرادة حرة خالية من العيوب التزاماً مني بما جاء فيه.</div>
                </form>
              </div>
              <div class="row display-block" style="margin-bottom:15px;">
                <form class="form-style-4"  method="post">
                  <div class="col-xs-6">
                    <span class="display-block font-size-25" >الموقع<input type="text" value="" style="width:150px;"/>
                    </span>
                    <label  class="display-block font-size-25">
                      <span>شاهد</span>
                    </label>
                    <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:150px;"/>
                    </span>
                    <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:150px;"/>
                    </span>
                  </div>
                  <div class="col-xs-6">
                    <span class="display-block font-size-25" >تحريراً في<input type="text" class="text-center" value="<%-contractDate %>" style="width:150px;"/>
                    </span>
                    <label  class="display-block font-size-25">
                      <span>شاهد</span>
                    </label>
                    <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:150px;"/>
                    </span>
                    <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:150px;"/>
                    </span>
                  </div>
                </form>
              </div>

           </div>

          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="10"/>
                </h4>
              </form>
            </div>
        </div>
      </div>


  </iframe>
<!-- end of page 10-->
<!-- Page 11-->
<canvas id="can" class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
  <iframe id="IBContract11Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="row">
            <div class="invoice-header">
                <div class="col-xs-2">
                  <img src="/reservation-system/public/images/Rawabi_Logo.png"  height="130" width="170"><br><br>
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6">
                  <div class="ge-ss-font" style ="position: absolute;right:5%" >
                    <h3><br><br><br>اتفاقية تعهد بيع وشراء وحدة سكنية</h3>
                  </div>
                </div>
            </div>
        </div>





          <div class="col-xs-12" style="direction:rtl;height:1500px;">
           <div class="row display-block">
              <span><h2>ملحق رقم (4)</h2></span>
            </div>
            <div class="row" style="margin-top:20px;margin-bottom:10px;">
              <span style="color:#71BF45;"><h2>آلية دفع ثمن المبيع</h2></span>
            </div>
            <div class="row display-block" style="margin-bottom:10px;">
              <form class="form-style-4" action="" method="post">
                <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">أ.</div>
                <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:10px;"> يلتزم الفريق الثاني بسداد ثمن المبيع المحدد في الاتفاقية في البند السابع فقرة (1) والبالغ (<input type="text" class="text-center" required="true" value="<%- priceTotal%>" style="width:100px;"/> )<input type="text" required="true" class="text-center font-small"  value="<%- priceTotalWords%>" style="width:350px;"/> دولار أمريكي فقط للفريق الأول وفقاً للآلية الآتية:</div>

                <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">1.</div>
                <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:10px;">يقوم الفريق الاول بابلاغ الفريق الثاني باستعداده لنقل ملكية المبيع عندما يصبح المبيع جاهزاً للتسليم.</div>

                <div class="cell-lg-1 font-size-25 text-justify" >2.</div>
                <div class="cell-lg-2 font-size-25 text-justify"> يقوم الفريقان بفتح صفقة عقارية لدى دائرة تسجيل الاراضي المختصة بحضور مندوب مفوض عن الفريق الثاني ويتم التوقيع الأولي على عقود البيع
الخاصة بالصفقة العقارية بالتزامن مع قيام الفريق الثاني بتسليم الفريق الأول كتاب تعهد من البنك/الفريق الثاني بتحويل كامل المبلغ المتبقي من
ثمن المبيع لحساب الفريق الأول خلال ثلاثة أيام من تاريخ استلام سند ملكية المبيع/الوحدة السكنية محل الاتفاقية مفرزة باسم الفريق الثاني، ويتم
تحديد موعد للتوقيع النهائي بالتنسيق مع دائرة تسجيل الأراضي وبحضور المشتري/طالب التمويل.</div>
                 <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">3.</div>
                <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:10px;">يلتزم الفريق الثاني خلال ثلاثة أيام من تاريخ استلام سند ملكية المبيع/الوحدة السكنية محل الاتفاقية، مفرزة باسم الفريق الثاني، بتحويل كامل
المبلغ المتبقي من ثمن المبيع لحساب الفريق الأول.</div>

                 <div class="cell-lg-1 font-size-25 text-justify" style="margin-bottom:10px;">ب.</div>
                <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:10px;">إن كافة اﻟﻤبالغ اﻟﻤبينة في هذا اﻟﻤلحق وفي الاتفاقية بشكل عام، غﻴﺮ شاملة لأية رسوم و/أو ضرائب مقررة حالياً أو مستقبلاً.</div>
                <div style="margin-top:15px;">
                  <%=txt2%>
                  <br><br><br><br><br><br><br>
                </div>
                  <div class="row display-block" style="margin-bottom: 50px;">
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >الفريق الثاني
                          </span>
                      </label>
                      <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="<%-purchaser%>" style="width:450px;font-size: 20px;"/>
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >الفريق الأول
                          </span>
                      </label>
                      <span class="display-block font-size-25" >شركة بيتي للاستثمار العقاري المساهمة الخصوصية المحدودة
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                  </div>
                  <div class="row display-block" style="margin-bottom: 50px;">
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >شاهد
                          </span>
                      </label>
                      <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                    <div class="col-xs-6">
                      <label>
                        <span class="display-block font-size-25" >شاهد
                          </span>
                      </label>
                      <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                      </span>
                      <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                      </span>
                    </div>
                  </div>
             </form>
           </div>

          </div>

          <div class="row pagenation">
            <div class="col-xs-12">
              <form class="form-style-4" method="post">
                <h4 class="display-block text-left">
                  <span>التوقيع</span>
                  <input type="text" class="width-27 text-center"/>
                  <span>صفحة رقم</span>
                  <input type="text" class="width-180 text-center" value="11"/>
                </h4>
              </form>
            </div>
         </div>

        </div>

  </iframe>










<canvas class="islamic-bank-contract canvasReceipt" height="1754" width="1500"  style="display:none;"></canvas>
    <iframe id="IBContract17Template" style="display:none;">
        <link rel="stylesheet" href="./css/bootstrap-3.3.2.css">
        <link rel="stylesheet" href="./css/contract.css">
        <div id="invoice" class="container">
          <div class="col-xs-12" style="direction:rtl;">
              <div class="row" style="margin-top:80px;margin-bottom:50px;">
                <span class="text-center" style="color:#71BF45;"><h2>سند إقرار وتعهد</h2></span>
              </div>
              <div class="row display-block" style="margin-bottom:40px;">
                <form class="form-style-4" action="" method="post">
                  <span class="font-size-25 text-justify" style="margin-bottom:10px;">أنا الموقع امضائي <input type="text" value="<%- purchaser1%>" class="text-center" style="width:400px;"/> حامل /ة هوية و/أو جواز سفر رقم <input type="text" class="text-center" value="<%- idType1%>" style="width:300px;"/> (بصفتي المفوض بالتوقيع عن شركة <input type="text" class="text-center" value="<%- companyName%>" style="width:100px;"/>رقم تسجيل <input type="text" class="text-center" value="<%-companyNum%>" style="width:150px;"/>لدى <input type="text" value="<%-companyFor%>" class="text-center" style="width:100px;"/> ) مالك/ة الوحدة السكنية رقم<input type="text" class="text-center" value="<%-unitNum %>" style="width:100px;"/> الواقعة في الطابق رقم <input type="text" class="text-center" value="<%-floorNum%>" style="width:100px;"/> البالغة مساحتها <input type="text" value="<%-unitArea%>" class="text-center" style="width:100px;"/> متراً مربعاً من البناية رقم <input type="text" class="text-center" value="<%-buildingNum%>" style="width:100px;"/>الكائنة في حي <input type="text" value="<%-haiName%>" class="text-center" style="width:100px;"/> في بلدة روابي ("الوحدة السكنية")، أتعهد وأقر وأنا بكامل الصفات المعتبرة شرعاً وقانوناً بما يلي:</span>
               </form>
             </div>
             <div class="row display-block" style="margin-bottom:50px;">
                <form class="form-style-4"  method="post">
                  <div class="cell-lg-1 font-size-25 text-justify">أ.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن لي الحق الكامل والصلاحية القانونية التامة بإعطاء هذا الإقرار/التعهد وأني أتحمل كامل المسؤولية القانونية والواقعية وكامل النفقات والمصاريف والخسارة/ الكسب الفائت مهما كان نوعه والتي قد تترتب نتيجة العمل/التصرف بموجب هذا التعهد وإن ما ورد في مقدمة هذا السند يعتبر جزءاً لا يتجزأ منه ويقرأ معه كبند من بنوده.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ب.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن التزم بالامتثال لجميع الأحكام المنصوص عليها في النظام الداخلي الخاص باتحاد ملاك رقم<input type="text" class="text-center" value="<%-estContrNum%>" style="width:100px;"/>الصادر عن كاتب عدل محكمة بلدية رام الله بتاريخ<input type="text" class="text-center font-small"                     value="<%-estContrDate%>" style="width:100px;"/>للوحدات السكنية في حي <input type="text" value="<%- haiName%>" class="text-center" style="width:100px;"/>والبالغة مساحته <input type="text" class="text-center" value="<%-haiArea%>" style="width:100px;"/> متراً مربعاً(”اتحاد الملاك“) وعقد التأسيس الخاص باتحاد الملاك رقم <input type="text" class="text-center" value="<%-estContrNum2%>" style="width:100px;"/> الصادر عن كاتب عدل محكمة بلدية رام الله بتاريخ <input type="text" class="text-center font-small" value="<%-estContrDate2%>"  style="width:100px;"/> والمرفق بهذا الإقرار/ التعهد وأية تعديلات تطرا عليه، علماً بأنني اطلعت على أحكام عقد التأسيس  والنظام الداخلي لاتحاد الملاك اطلاعاً كافياً وتم إفهامي بما ورد فيهما.</div>
                  <div class="cell-lg-1 font-size-25 text-justify">ج.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن ألتزم بإيفاء كافة الالتزامات المالية التي يفرضها اتحاد الملاك على الوحدة السكنية المبيّنة أعلاه ودفعها لاتحاد الملاك خلال الفترة المحدّدة من قبله و/أو
من قبل مجلس ادارته، من اشتراكات دورية واشتراكات خاصة بالتحسينات الكبيرة على الأجزاء المشتركة في العقار أو المتعلقة بسداد العجز في ميزانية اتحاد
الملاك لسداد النفقات التشغيلية. كما ألتزم بدفع أية نفقات ومصاريف مشتركة أخرى يفرضها اتحاد الملاك على مالكي الوحدات السكنية لإدارة الأجزاء
المشتركة في العقار وصيانتها وتصليحها والمحافظة عليها. وفي حال عدم التزامي بدفع الاشتراكات والنفقات والمصاريف المبيّنة أعلاه خلال الفترة المحددّة من
قبل اتحاد الملاك و/أو من قبل مجلس إدارته، يحق لاتحاد الملاك اتخاذ الاجراءات التي يراها مناسبة من أجل تحصيل تلك الاشتراكات والنفقات والمصاريف
باعتبارها دين مستحق في ذمتي (ذمة الشركة) لاتحاد الملاك.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">د.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">بأن ألتزم بتوقيع أي شخص، ستنتقل اليه ملكية الوحدة السكنية، على مثل هذا الاقرار/التعهد وذلك قبل استكمال نقل ملكية الوحدة السكنية له، كما أتعهد
ألتزم بتزويد اتحاد الملاك بالنسخة الأصلية عن التعهد الموقّع من قبل ذلك الشخص (المالك المستقبلي) ليتم الاحتفاظ به في سجلات الاتحاد.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">ه.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">إنني أقر بأن ما جاء في هذا السند يعتبر نهائياً وقطعياً وغير قابل للرجوع أو الإلغاء، وأنني أتعهد وألتزم بعدم الاعتراض على ما جاء في هذا السند والأمور
المتعلقة به والناشئة عنه، وإنني أسقط حقي بالإدعاء بيمين كذب الإقرار و/أو الدفع بعدم القبول و/أو الوفاء و/أو أي دفع شكلي أو موضوعي حول ما
جاء في هذا السند والأمور المتعلقة به والناشئة عنه.</div>

                  <div class="cell-lg-1 font-size-25 text-justify">و.</div>
                  <div class="cell-lg-2 font-size-25 text-justify" style="margin-bottom:8px;">إنني أوقع هذا السند بدون ضغط أو إكراه وبإرادة حرة خالية من العيوب التزاماً مني بما جاء فيه.</div>

                </form>
                <br><br><br><br><br>
              </div>
              <div class="row display-block" style="margin-bottom:400px;">
                <form class="form-style-4"  method="post">
                  <div class="col-xs-6">
                    <span class="display-block font-size-25" >الموقع<input type="text" value="" style="width:400px;"/>
                    </span>
                    <label  class="display-block font-size-25">
                      <span>شاهد</span>
                    </label>
                    <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                    </span>
                    <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                    </span>
                  </div>
                  <div class="col-xs-6">
                    <span class="display-block font-size-25" >تحريراً في<input type="text" class="text-center" value="<%-contractDate %>" style="width:400px;"/>
                    </span>
                    <label  class="display-block font-size-25">
                      <span>شاهد</span>
                    </label>
                    <span class="display-block font-size-25" >الاسم الرباعي<input type="text" value="" style="width:400px;"/>
                    </span>
                    <span class="display-block font-size-25" >التوقيع<input type="text" value="" style="width:400px;"/>
                    </span>
                  </div>
                </form>
              </div>

           </div>
            <div class="row pagenation" style="margin-bottom: 100px;">
                <div class="col-xs-12">
                    <form class="form-style-4" method="post">
                        <h4 class="display-block text-left">

                            <span>صفحة رقم</span>
                            <input type="text" class="width-180 text-center" value="12"/>
                        </h4>
                    </form>
                </div>
            </div>
      </div>
</iframe>

