<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery Word Export Plugin Demo</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/word_contract.css">


</head>

<body>

<div id="page-content" style="font-family: 'Yakout Linotype Light'">

    {% include 'unit/headers_of_word_contract/contract1.twig' %}

    <div id="report_body" dir="rtl">

        <div class="row">
      <span style="color:#71BF45;">
         <h2>المقدمة</h2>
      </span>
        </div>

        <div class="row">
      <span class="display-block">
      حيث أن الفريق الأول هو شركة استثمار عقاري تقوم بإنشاء وتشييد مشروع ("مدينة روابي") بحيث يشمل أحياء يتكون كل منها من بنايات مقسمة إلى عدة وحدات سكنية؛
      </span>
        </div>
        <div class="row">
      <span class="display-block">
          وحيث أن الفريق الثاني يرغب بشراء وحدة سكنية في مدينة روابي من الفريق الأول، وأنه بعد اطّلاعه على الوحدة السكنية موضوع هذه الاتفاقية وموقعها وإطلالتها و/أو اطلاعه على مخططات البناء الخاصة بها، أبدى رغبته بشراء الوحدة السكنية (الشقة) رقم
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">8</span>
          الواقعة في الطابق رقم
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">9</span>
            البالغة مساحتها الإجمالية
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">240</span>
متراً مربعاً الكائنة في حي
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">دليم</span>
          ووصفها:
          <br>
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">L2-2 -  - L2-2 -  - تراس 17م2 - حديقة  ?م2 - موقف داخليL2-2 -  - تراس 17م2 - حديقة  ?م2 - موقف داخليتراس 17م2 - حديقة  ?م2 - موقف داخلي</span>
          <br>
          المبينة مواصفاتها الإنشائية والفنية في ملحق المواصفات المرفق ملحق رقم (1) من البناية رقم
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">45</span>
المقامة على قطعة الأرض رقم
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">50</span>
          من حوض
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">30</span>
رقم
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45 ">15</span>
من أراضي بلدة روابي قضاء رام الله؛
          <br>
          وحيث أن الفريق الأول هو المالك والمتصرف بالأرض المقامة أو التي ستقام عليها الوحدة السكنية موضوع هذه الاتفاقية، ووافق على بيع الفريق الثاني الوحدة السكنية الموصوفة أعلاه وفقاً لأحكام وشروط هذه الاتفاقية، وأية تعديلات تلحق بها؛
          <br>
فقد ارتبط إيجاب الفريق الثاني بقبول الفريق الأول وفقاً لأحكام وشروط وأسس هذه الاتفاقية والآتي ذكرها:
      </span>
        </div>

        <div class="row">
      <span style="color:#71BF45;">
         <h2>أولاً: التعريفات والمقدمة </h2>
      </span>
        </div>

        <div class="row">
      <span class="display-block">
            1.	يكون للمصطلحات والعبارات المستخدمة في هذه الاتفاقية المعاني المشار إليها أدناه، ما لم يدل السياق على خلاف ذلك:
          <br>
          أ‌.	"الوحدة السكنية" أو "المبيع" تعني الوحدة السكنية موضوع هذه الاتفاقية والموصوفة في مقدمة هذه الاتفاقية.
          <br>
          ب‌.		"البناية" أو "المبنى"  يقصد به المبنى رقم
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">8</span>
          الكائن في حي
          <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">دوليم</span>
          من مدينة روابي والواقع فيه المبيع.
            <br>
          ج‌.	"الحي" يقصد به حي
           <span class="text-center"
                 style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">الخامس</span>

          من مدينة روابي، والذي يحتوي على
           <span class="text-center"
                 style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">ما بعرف</span>
          مبنى والتي من ضمنها المبنى المبين في الفقرة (ب) أعلاه.
          <br>
          د‌.	"اتحاد الملاك" المقصود به اتحاد الملاك المنشأ بموجب عقد تأسيس الاتحاد الموثق لدى كاتب عدل رام الله والمنظم وفق أحكام النظام الداخلي الخاص به والمرفق في هذه الاتفاقية ملحق رقم (2)، وذلك بالاستناد للمادة ((19 من القانون رقم (1) لسنة 1996 بشأن تمليك الطبقات والشقق والمحلات وتعديلاته.
          <br>
          ه‌.	"الأجزاء المشتركة": تشمل الأرض المقام عليها المبيع، هيكل البناء، وأجزاؤه وملحقاته غير المعدة للاستعمال الخاص بأحد الملاك، وتشمل بوجه خاص ما نص عليه القانون رقم (1) لسنة 1996 بشأن تمليك الطبقات والشقق والمحلات وتعديلاته، وما نص عليه في النظام الداخلي لاتحاد الملاك الملحق رقم (2) وهذه الاتفاقية وتعديلاتها.
          <br>
          2.	تعتبر مقدمة هذه الاتفاقية وكافة ملحقاتها جزء لا يتجزأ منها وتقرأ معها كوحدة واحدة. يوجد
                    <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5 ملاحق</span>

          ملاحق لهذه الاتفاقية: ملحق (1) المواصفات الإنشائية والفنية للمبيع، ملحق (2) النظام الداخلي لاتحاد الملاك وعقد التأسيس، ملحق (3) تعهد واقرار، ملحق (4) آلية دفع ثمن المبيع، ملحق (5) ملحق الاضافات أو التعديلات  على المبيع
           <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45"> اتياتبايتبايتاتاتاتاتاتابتيابتيابتايتايتابيتابتيابتيابتيابتياتبايتبايتابتياتيا</span>
      </span>
        </div>

        <div dir="ltr">
            <label class="text-center"> 1</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
    </div>
    <!-- start page 2 -->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}

    <div dir="rtl">
        <div class="row">
             <span style="color:#71BF45;">
                    <h2>ثانياً: مدة الاتفاقية</h2>
             </span>
        </div>
        <div class="row">
      <span class="display-block">
      تبدأ هذه الاتفاقية اعتباراً من تاريخ توقيعها من قبل الفريقين، وتنتهي بتنفيذ أطرافها كافة الالتزامات المترتبة بموجبها عليهم.      </span>
        </div>
        <div class="row">
      <span style="color:#71BF45;">
         <h2>ثالثاً: وصف المبيع</h2>
      </span>
        </div>
        <div class="row">
      <span class="display-block">
      1.	الوحدة  السكنية الموصوفة في مقدمة هذه الاتفاقية وحصتها في الأجزاء المشتركة.
      <br>
      2.	حق ملكية واستعمال الأجزاء والمرافق المشتركة في البناية وفي الحي الكائن فيه في الحدود والكيفية التي حددها قانون رقم1) ) لسنة 1996 بشأن تمليك الطبقات والشقق والمحلات وتعديلاته، والأنظمة والتعليمات والقرارات الصادرة بموجبه وأية تعديلات تطرأ عليها، وأيضاً وفقا للنظام الداخلي لاتحاد الملاك المرفق في هذه الاتفاقية ملحق رقم (2) وأية تعديلات تطرأ عليه.
      </span>
        </div>
        <div class="row">
      <span style="color:#71BF45;">
         <h2>رابعاً: إقرارات وتعهدات والتزامات الفريق الأول</h2>
      </span>
        </div>
        <div class="row">
      <span class="display-block" style="font-family: 'Yakout Linotype Light'">
      1.	سيقوم الفريق الأول بإنشاء وتشييد وتشطيب المبيع موضوع هذه الاتفاقية وفقاً للمواصفات الإنشائية والفنية المفصلةّ في ملحق المواصفات المرفق ملحق رقم (1)؛ على أنه إذا اضطّر الفريق الأول إلى تغيير المواصفات المبينة في ملحق رقم (1) بسبب عدم توافرها من المصدر، يلتزم بتوفير مواصفات بنفس الجودة والكمية ولا يكون للفريق الثاني في هذه الحالة الحق في فسخ الاتفاقية.
      <br>
      2.	يكون التاريخ المتوقع والموعد المقدر للانتهاء من بناء المبيع و/أو تشييده و/أو تشطيبه، لتسليمه للفريق الثاني
      <span class="text-center" style="width:100px;   border-bottom: 1px dashed #71BF45;color:#71BF45">5-8-2018</span>
      ما لم يحول دون ذلك أي مانع أو سبب من الموانع والأسباب الخارجة عن إرادة الفريق الأول كالقوة القاهرة أو الحروب أو الكوارث الطبيعية أو بفعل السلطات الحاكمة أو لأسباب تجارية أو غيرها من الأسباب الكفيلة بمنع الفريق الأول من تنفيذ ذلك. إلا أنه يجوز للفريق الأول تمديد موعد التسليم لفترة أو لفترات أخرى إضافية إن تطلب الأمر ذلك.
      <br>
      3.	يعمل الفريق الأول على إيصال كافة شبكات الخدمات الأساسية من ماء وكهرباء وغاز وهاتف وانترنت وصرف صحي إلى البناية التي يقع فيها المبيع، ووفقاً للبنية التحتية المتوفرة واللازمة لذلك.
      <br/>
      4.	يلتزم الفريق الأول بفتح الصفقة العقارية والتوقيع على طلب البيع لصالح الفريق الثاني فقط بعد دفع الثمن المتفق عليه أو ورود كتاب تعهد والتزام من الجهة المقرضة بتحويل وتسييل قيمة الدفعة المتبقية من ثمن المبيع المتفق عليه لحساب الفريق الأول، في حال رغب الفريق الثاني بالاقتراض لغايات دفع المبلغ المتبقي من الثمن.
      <br/>
      5.	يلتزم الفريق الأول بتسليم المبيع للفريق الثاني وتمكينه من استعماله والتصرف فيه تصرف المالك بملكه بعد إتمام إجراءات التنازل الرسمي وإفراغ المبيع باسم الفريق الثاني وبعد قبض كامل ثمن المبيع.
      </span>
            <br>
            <br>
            <br>
        </div>
        <div dir="ltr">
            <label class="text-center"> 2</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
    </div>

    <!-- start page 3 -->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
    <div dir="rtl">
        <div class="row">
             <span style="color:#71BF45;">
                    <h2>خامساً: إقرارات وتعهدات والتزامات الفريق الثاني</h2>
             </span>
        </div>

        <div class="row">
            <span>

                <b>1. يقر الفريق الثاني ويتعهد ويلتزم بما يلي:</b>
                <br>
               <b> ‌أ.</b>	يقر بأنه اطلع على الوحدة السكنية موضوع هذه الاتفاقية و/أو اطلع على مخططات البناء وعلى المواصفات الفنية والانشائية الخاصة بها والمبينة في الملحق رقم (1) ويقر بأنه على علم ودراية تامة بموقع الوحدة السكنية في مدينة روابي وإطلاتها من جميع الجهات في وضعها الحالي وفي الوضع الذي ستكون عليه في المستقبل، وأنه قام بمعاينتهم معاينة تامة نافية لأي غموض أو جهالة، ووافق على شرائها وفقاً لذلك وأن توقيعه على هذه الاتفاقية يعد قبولاً لها ويفيد اطّلاعه عليها وتفهم محتواها.
                <br>
                <b>‌ب.</b>	بكافة القوانين والأنظمة السارية في فلسطين والتي تحكم وتنظم المبيع وما يلحق به من أجزاء ومرافق مشتركة غير المعدة للاستعمال الخاص بأحد الملاك، إذ يتعهد في إشغاله واستعماله للمبيع بالإلتزام بجميع الأحكام المنصوص عليها في قانون تمليك الطبقات والشقق والمحلات الفلسطيني رقم (1) لسنة 1996 وأية تعديلات قد تطرأ عليه وكذلك بالإيفاء بكافة الالتزامات المالية والعينية المنصوص عليها في تلك القوانين والأنظمة والملاحق المرفقة بهذه الاتفاقية.
                <br>
                <b> ‌ج.</b>	بتوثيق اتفاق تكوين اتحاد الملاك وفقا للملحق رقم (2) امام كاتب العدل عند نقل ملكية الوحدة السكنية، في حال طلب الفريق الاول ذلك، وبالتوقيع مع باقي اصحاب الوحدات السكنية الاخرى في المباني الكائنة في الحي على النظام الداخلي الخاص بإتحاد الملاك، بحيث يخول هذا الاتحاد بإدارة المباني الكائنة في الحي وكذلك إدارة الحي لغاية ضمان حسن الانتفاع بالأجزاء والمرافق المشتركة الخاصة بكل مبنى من المباني الكائنة في الحي، وأيضا بالاجزاء والمرافق المشتركة التابعة في الحي وفيما يخدم مصلحة جميع أصحاب الوحدات السكنية في تلك المباني كما يتحمل الفريق الثاني كافة الرسوم والمصاريف المترتبة على ذلك.
                <br>
                <b> ‌د.</b>	بتطبيق جميع الأحكام المنصوص عليها في النظام الداخلي الخاص باتحاد الملاك ملحق رقم (2) وأية تعديلات تطرأ عليه، كما يتعهد بالإيفاء بكافة الالتزامات المالية والعينية الناشئة عن عضويته في اتحاد الملاك وكذلك المترتبة عن أية إتفاق/إتفاقيات يبرمها اتحاد الملاك مع الغير، وعليه فقد قام الفريق الثاني بتوقيع تعهد وإقرار للإلتزام بذلك على النحو المفصل في ملحق رقم (3) المرفق في هذه الاتفاقية.
                <br>
                <b>‌ه.</b>	بتسديد ثمن المبيع وفقاً لما هو موضح في البند (سابعاً) أدناه، وبعكس ذلك يصار إلى تطبيق الشروط الجزائية الواردة بهذه الإتفاقية.
                <br>
                <b> ‌و.</b>	بتوصيل وتركيب عدادات الماء والكهرباء والغاز وخدمة الهاتف والتلفاز للمبيع على نفقته وحسابه الخاص.
                <br>
                <b>‌ز.</b>	بعدم استعمال أو السماح باستعمال المبيع أو الطابق الموجود فيه المبيع لغير السكن، أو بما يخالف القوانين والأنظمة المرعية والآداب العامة.
                <br>
                <b>‌ح.</b>	بالحصول على الموافقات اللازمة والأذونات المطلوبة من قبل سلطة الأراضي والجهات الرسمية المختصة لغايات تملكه المبيع موضوع هذه الاتفاقية إن تطلب الأمر ذلك.
                <br>
                <b>‌ط.</b>	يلتزم الفريق الثاني بفتح صفقة عقارية لدى دائرة الأراضي المختصة وذلك خلال مدة أقصاها (15) يوم من قيام الفريق الأول بإبلاغه بأن الوحدة السكنية جاهزة للاستلام وعند تسديد كامل ثمن الشقة، أما في حال عدم قيام الفريق الثاني بفتح صفقة خلال تلك المدة، فيحق للفريق الأول حينها الغاء الاتفاقية وفرض غرامة عطل وضرر على الفريق الثاني تقدر بـ (-----------$)---------------------------- دولار أمريكي.
                <br><br><br>
                 <div dir="ltr">
                       <label class="text-center"> 3</label>
                                   <span>صفحة رقم</span>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span>------------------------------</span>
                          <span>التوقيع</span>
                 </div>

            </span>
        </div>
    </div>

    <!-- start page 4-->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
<br>
<br>
    <div dir="rtl">
        <div class="row">
            <span>
                            <b>2. يلتزم الفريق الثاني ويتعهد في حال رغب بالحصول على قرض لتسديد جزء من ثمن المبيع، بما يأتي:</b>
                <br>
                <b>‌أ.</b>	بتجديد تعهد والتزام الجهة المقرضة النهائي بموافقتها على تمويل قرض الشراء عبر دفع المبلغ المتبقي من ثمن المبيع كما هو مبين في البند السابع كلما تطلب الأمر ذلك، كما يلتزم بالمحافظة على صلاحية هذا التعهد حتى سداد كامل الثمن.
                <br>
                <b>‌ب.</b>	بتقديم كتاب تعهد والتزام من الجهة المقرضة بتحويل وتسييل قيمة الدفعة المتبقية من الثمن المتفق عليه لحساب الفريق الأول قبل فتح معاملة عقارية لتسجيل المبيع باسمه.
                <br>
                <b>‌ج.</b>	بعدم معارضته على إلغاء الإجراءات المتخذة في الصفقة العقارية موضوع المبيع لدى دائرة تسجيل الأراضي المختصة وذلك في حال عدم التزامه بسداد باقي الثمن أو امتناع الجهة المقرضة عن ذلك، ويلتزم باتخاذ كافة الإجراءات الإدارية والقانونية اللازمة لذلك.
                <br>
                ‌<b>د.</b>	يُرهن المبيع لصالح الجهة المقرضة ودفع الرسوم والمصاريف المتعلقة بذلك.
            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>سادساً: القيود على المظهر الخارجي</h2>
             </span>
        </div>
        <div class="row">
            <span>
                يقر الفريق الثاني أنه يعلم علماً تاماً بأن المبيع موضوع هذه الاتفاقية هو جزء لا يتجزأ من مدينة روابي، وعليه وحفاظاً على المظهر العام لمدينة روابي والبناية التي يقع فيها المبيع والحي الكائن فيه، فقد اتفق الفريقان على الأحكام والشروط الآتية، والتي هي واجبة النفاذ والتطبيق على المبيع، حتى بعد انتقال ملكيته للفريق الثاني. ويصرح الفريق الثاني بأنه ملتزم بما يأتي:
                <br>
                1.	عدم إجراء أي تعديلات أو تغيرات مهما كانت على الواجهات الخارجية والأمامية للمبيع أو أي من المنافع والخدمات المشتركة في البناية الواحدة أو بجميع البنايات داخل الحي، بدون أخذ الموافقات والتراخيص اللازمة وفقاً لأحكام النظام الداخلي لاتحاد الملاك المرفق (ملحق رقم 2).
                <br>
                2.	تكون كافة الواجهات والشرفات والمظلات والألمنيوم والحمايات والشبابيك والجدران الخارجية وأية أشياء ظاهرة خارجياً في المبيع متطابقة في اللون والشكل والتصميم مع كافة الشقق الأخرى في البناية ومع المقايس والمواصفات والأحكام المحددة لمدينة روابي من قبل الفريق الأول.
                <br>
                3.	عدم إقامة أو تثبيت سواء بشكل مؤقت أو دائم معدات أو أجهزة البث والاستقبال مهما كانت أو لافتات أو لوحات على المبيع.
            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>سابعاً: الثمن</h2>
             </span>
        </div>
        <div class="row">
            <span>
                1.	يلتزم الفريق الثاني بشراء المبيع موضوع هذه الاتفاقية بمبلغ اجمالي وقدره
            <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5000 $ خمسة الاف دوار امريكي فقط لا غير</span>

                دولار أمريكي فقط، بحيث يشمل حصة الشقة في قطعة الأرض المقامة عليها العمارة والبالغ قدره
                            <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5000 $ خمسة الاف دوار امريكي فقط لا غير</span>

                دولار أمريكي، وثمن إنشاء الشقة والأجزاء المشتركة في العمارة والبالغ قدره
                            <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5000 $ خمسة الاف دوار امريكي فقط لا غير</span>

                دولار أمريكي، ووافق الفريق الأول على البيع بهذا الثمن.
                <br>
                2.	يلتزم الفريق الثاني بسداد ثمن المبيع المبيًن أعلاه للفريق الأول وفقاً للآلية المفصلة بملحق رقم (4).
            </span>
        </div>
        <br>

        <div dir="ltr">
            <label class="text-center"> 4</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
    </div>

    <!-- start page 5-->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
    <div dir="rtl">
        <div class="row">
             <span style="color:#71BF45;">
                    <h2>ثامناً: الاضافات والتعديلات على المبيع</h2>
             </span>
        </div>
        <div class="row">
            <span>
                يجوز للفريق الثاني طلب إجراء أية تعديلات أو تغيرات أو إضافات على المبيع و/أو على المواصفات الإنشائة والفنية الخاصة بالمبيع و/أو إضافة أية اعمال أو ديكورات أو مواصفات جديدة عن ما هو موضح في الملحق رقم (1)، على أن تكون تلك العديلات أو التغيرات أو الإضافات من ضمن الخيارات المتوفرة لدى الفريق الأول والتي يطرحها أو قد يطرحها على الفريق الثاني وفي حال كان ذلك ممكناً، ووافق الفريق الأول على إجرائه يتم الإتفاق بين الفريقين على التكلفة التقديرية لهذه الإضافات أو التعديلات، وتعتبر جزءً من الثمن، وتوثق بموجب إتفاق خطي لاحق يبرم بين الفريقين حسب الملحق رقم (5)، وتعتبر جزءً لا يتجزأ من هذه الاتفاقية.
            </span>
        </div>
        <div class="row">
             <span style="color:#71BF45;">
                    <h2>تاسعاً: الاختلاف في المواصفات</h2>
             </span>
        </div>
        <div class="row">
            <span>
في حال ظهور أي اختلاف جوهري بين المواصفات الفنية المبينة في هذه الاتفاقية وملاحقاتها وواقع المبيع، للفريق الثاني مراجعة الفريق الأول بشأنها ومطالبته بمعالجة الاختلاف، وذلك خلال شهر واحد من تاريخ استلام الفريق الثاني للمبيع؛ ويسقط حق الفريق الثاني بذلك بعد إنقضاء المدة المذكورة (مدة الشهر الواحد)، والتي بانقضائها يعتبر الفريق الثاني موافقاً على المبيع ومقراً بتطابق مواصفاته مع المواصفات الفنية المبينة في هذه الاتفاقية وملحقاتها و/أو مقراً بقبوله لأي اختلاف بينهما.
            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>عاشراً: تسجيل المبيع وحقوق الملكية</h2>
             </span>
        </div>
        <div class="row">
            <span>
1.	يقوم الفريق الأول بالتنازل والفراغ عن المبيع للفريق الثاني بعد اتمام تشييده وتشطيبه وفقاً للمواصفات المبينة في هذه الاتفاقية وملاحقها، وإتمام إفراز قطعة الأرض المقامة أو التي ستقام عليها البناية وإفراز المبيع وفقاً لإجراءات إفراز الشقق والطوابق، وقيام الفريق الثاني بتسديد كامل ثمن المبيع وتنفيذ جميع إلتزاماته المبينة في هذه الاتفاقية وملحقاتها و/أو أي تعديل خطي لاحق عليها.
                <br>
                2.	يتحمل الفريق الثاني كافة الرسوم والمصاريف اللازمة لغايات نقل ملكية المبيع وتسجيله باسمه لدى الموقع الرسمي وفقاً لأحكام القانون الساري، ويكون الفريق الثاني مسؤولاً عن ضريبة الأملاك وضرائب البلدية المتعلقة بالمبيع ابتداءً من تاريخ توقيع هذه الاتفاقية، كما ويلتزم الفريق الثاني بتزويد الفريق الأول ببراءة ذمة صادرة عن المالية والبلدية وأية وثائق أخرى لازمة لغايات التنازل وعلى نفقته الخاصة. ولإزالة أي غموض، يتحمل الفريق الثاني كافة رسوم تسجيل المبيع ونقل ملكيته لصالحه لدى الموقع الرسمي بغض النظر عن أي ارتفاع او انخفاض في رسوم التسجيل في المستقبل، وبصرف النظر عما ينص عليه القانون حول توزيع الرسوم بين البائع والمشتري.
                <br>
                3.	بعد قيام الفريق الثاني بدفع كامل ثمن المبيع وتسجيله باسمه، يصبح الفريق الثاني مالكاً للمبيع موضوع هذه الاتفاقية على وجه الاستقلال، ومالكاً على وجه الشيوع ما يخص الوحدة السكنية من حصص في الأجزاء المشتركة في البناية وفي الحي.
                <br>
                <br>

                  <div dir="ltr">
            <label class="text-center"> 5</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
                  </span>
        </div>
    </div>
    <!-- start page 6-->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
    <div dir="rtl">
        <div class="row">
            <span>
                4.	لا يحق للفريق الثاني الانتفاع و/أو استغلال و/أو استلام و/أو التصرف بالمبيع على أي وجه أو أي جزء منه بأي شكل من أشكال التصرف قبل سداد كامل ثمن المبيع واكتمال تسجيله باسمه في الموقع الرسمي.
                  <br>
                5.	من المفهوم للفريق الثاني أن رقم قطعة الأرض ورقم الحوض ورقم الوحدة السكنية قد يتغير عند التسجيل وذلك نتيجة لمعاملة الافراز واجراءات دائرة تسجيل الأراضي.

            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>حادي عشر: الإحالة</h2>
             </span>
        </div>
        <div>
            <span>
                لا يحق للفريق الثاني إحالة أي من حقوقه و/أو التزاماته المبينة في هذه الاتفاقية لأي طرف آخر ما لم يحصل على الموافقة الخطية الصريحة المسبقة من الفريق الأول. ويحق للفريق الأول إحالة أي من حقوقه و/أو التزاماته المبينة في هذه الاتفاقية لأي طرف آخر بإرادته المنفردة.
            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>ثاني عشر: التخلف والإخلال</h2>
             </span>
        </div>
        <div class="row">
            <span>
                من المتفق عليه بين الفريقين بأنه وفي حال اخلال الفريق الثاني بأي من التزاماته المقررة بموجب هذه الاتفاقية و/أو تخلفه عن سداد أية دفعة أو قسط من دفعات أو أقساط المبيع لمدة تزيد عن
                 <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5 شهور</span>
                من تاريخ استحقاقها، فمن حق الفريق الأول فسخ هذه الاتفاقية واعتبار نفسه في حل من التزاماته بموجبها وذلك دون الحاجة الى اشعار و/أو انذار الفريق الثاني، مع حق الفريق الأول بالاحتفاظ بالدفعة الأولى (العَربون) التي دفعها الفريق الثاني له، والمطالبة بأية مبالغ أخرى كتعويض عن العطل و/أو الضرر و/أو الخسارة و/أو فوات الربح و/أو المصاريف التي تكبدها من أي نوع وتحملها بهذا الخصوص و/أو الزام الفريق الثاني بدفع مبلغ
                 <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5000 $ خمسة الاف دوار امريكي فقط لا غير</span>
                دولار أمريكي فقط كشرط جزائي، ويعتبر توقيع الفريق الثاني على هذه الاتفاقية اقراراً منه بذلك.
            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>ثالث عشر: أحكام عامة</h2>
             </span>
        </div>
        <div>
            <span>
                1.	تكون هذه الاتفاقية بكافة أحكامها وشروطها وملحقاتها وأي تعديل قد يجري عليها ملزمة للفريقين ولخلفهما العام والخاص.
                <br>
                2.	في حالة تعذر تنفيذ و/أو إهمال أي نص أو شرط أو حكم وارد في هذه الاتفاقية و/أو ملحقاتها و/أو أي تعديل قد يطرأ عليها لتعارضه مع القوانين السارية، فإن ذلك النص أو الشرط أو الحكم يعتبر لاغياً بالقدر الذي يتعارض به مع أحكام القوانين السارية وفي حدود التعارض فقط دون التأثير في نصوص الاتفاقية الأخرى. كما يتم تفسير البند المتعارض مع حكم القانون الساري بما لا يتجاوز الغرض الذي وضع من أجله ودون المساس بروح هذه الاتفاقية و/أو ملحقاتها و/أو أي تعديل قد يطرأ عليها و/أو للقيمة القانونية لباقي نصوص وشروط وأحكام الاتفاقية و/أو ملحقاتها و/أو أي تعديل قد يطرأ عليها.
                <br>
                <br>
                <br>

                   <div dir="ltr">
            <label class="text-center"> 6</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
            </span>
        </div>
    </div>

    <!-- start page 7-->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
    <div dir="rtl">
        <div class="row">
            <span>
                3.	مع مراعاة ما ورد في أحكام وبنود هذه الاتفاقية فإنه يحق للفريق الأول بصفته مطور لمشروع مدينة روابي تعديل المخطط الهندسي والتنظيمي للمدينة في أي وقت من الأوقات، سواء إقامة أبنية و/أو وحدات سكنية و/أو إنشاءات جديدة و/أو مراكز تجارية و/أو تغير أماكن الأبنية التي ستقام بالمستقبل -على عكس ما هو وارد في المخطط الحالي للمدينة والذي تم معاينته من قبل الفريق الثاني- وفي حال ألحق هذا التعديل بالفريق الثاني ضرر جسيم لا يمكن تداركه فإنه يحق له الحصول على تعويض يناسب قيمة الضرر وفق ما يقرره أهل الخبرة.
                <br>
                4.	إن العلاقة بين الفريق الأول والفريق الثاني بموجب أحكام هذه الاتفاقية هي علاقة تعهد ببيع وشراء وحدة سكنية فقط لا غير، وعليه لا يحق للفريق الثاني الإحتجاج بعدم جهوزية مدينة روابي، لعدم دفع الإلتزامات المترتبة عليه بموجب هذه الإتفاقية و/أو أي تعديل يطرأ عليها، كما لا يحق للفريق الثاني مطالبة الفريق الأول بإقامة وتوفير الخدمات و/أو المراكز التعليمية، و/أو الصحية، و/أو التجارية، و/أو الترفيهية، و/أو الإجتماعية، و/أو الثقافية، و/أو الدينية، و/أو النوادي الرياضية، و/أو تأمين المواصلات العامة والخاصة، وغيرها من المرافق والخدمات العامة التي لا شأن للفريق الأول بتوفيرها وإقامتها كونها تقدم وتوفر من قبل الدولة والحكومة والشركات الخاصة ذات الإختصاص، ويعتبر توقيع الفريق الثاني على هذه الإتفاقية إقراراً منه بذلك.
                <br>
                5.	أي تغيير أو تعديل على هذه الاتفاقية يجب أن يكون خطياً وموقعاً من الفريقين ويصدر بشكل ملحق لهذه الاتفاقية، على أن يعتبر جزءً لا يتجزأ من الاتفاقية ويقرأ معها كوحدة واحدة.
                <br>
                6.	إن عناوين البنود في هذه الاتفاقية وضعت لغايات تسهيل قراءتها، ولا يجوز الاعتماد عليها لغايات تفسير أحكامها.
                <br>
                7.	يقر الفريقان باعتماد عناوينهم المبينة في مقدمة هذه الاتفاقية كمكان إقامة مختار، وذلك لغايات تبليغ الإخطارات والمراسلات والإشعارات بينهما. ويجوز إثبات حدوث التبليغات والإخطارات والمراسلات بكافة طرق الإثبات. ويلتزم كل فريق بإبلاغ الفريق الآخر عن أي تغيير لعنوانه خلال مدة لا تزيد عن أسبوع من تاريخ حدوث التغيير ولا يعتد بالعنوان الجديد إلا بعد تبليغ الفريق المعني إشعار تغيير العنوان المذكور.
            </span>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>رابع عشر: القانون المطبق وحل النزاعات</h2>
             </span>
        </div>
        <div>
            <span>
                1.	تخضع هذه الاتفاقية لأحكام القانون الفلسطيني المطبق في الضفة الغربية فقط، وتلزم أية محكمة أو جهة تنظر في أي نزاع ناشئ عنها و/أو متعلق بها بتطبيق أحكام القانون الفلسطيني.
                <br>
                2.	مع مراعاة ما ورد في البند (1) أعلاه، يكون الاختصاص المكاني المتفق عليه سلفاً بين الفريقين للمحاكم النظامية العاملة في مدينة رام الله دون سواها، وذلك للنظر في أي نزاع أو خلاف يتعلق بتفسير و/أو تنفيذ أي بند من بنود هذه الاتفاقية، أو مجملها.
            </span>
        </div>
        <br>
        <br>
        <br>
        <div dir="ltr">
            <label class="text-center"> 7</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>

    </div>


    <!-- start page 8 -->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
    <div dir="rtl">
        <div class="row">
             <span style="color:#71BF45;">
                    <h2>خامس عشر: النسخ والبنود والصفحات</h2>
             </span>
        </div>
        <div class="row">
            <span>
                تم تحرير هذه الاتفاقية من مقدّمة وخمسة عشر بنداً (بما فيها هذا البند) على سبعة صفحات، بالإضافة إلى
                                 <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5 شهور</span>
                ملاحق المذكورة، وعلى نسختين اثنتين تعتبر كل منهما نسخة أصلية ويحتفظ كل فريق بنسخة واحدة منها، وذلك عقب توقيعهما من قبل الفريقين حسب الأصول.
                <br>
                وإيذاناً من الفريقين على موافقتهما على كل ما ورد في هذه الاتفاقية وملحقاتها، فقد قاما بتوقيع نسختيهما دون ضغط أو إكراه من أحد، ودون أن يشوب ارادتهما أي عيب من عيوب الرضا أو الارادة، في مدينة روابي بتاريخ
                                                 <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5 شهور</span>

                من شهر
                                                 <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5 شهور</span>

                لعام
                                                 <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">5 شهور</span>
                <br>
            </span>
        </div>
        <br>
        <br>
        <div class="row">
            <table>
                <tr>
                    <td>الفريق الأول</td>
                    <td>الفريق الثاني</td>
                </tr>

                <tr>
                    <td>شركة بيتي للاستثمار العقاري المساهمة الخصوصية المحدودة</td>
                    <td> &nbsp;الاسم الرباعي <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">أحمد فيصل مصطفى طعمة واسمامة فيصل مصطفى طعمة</span> </td>
                </tr>

                <tr>
                    <td>التوقيع -------------------------------</td>
                    <td>التوقيع -------------------------------</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>شاهد</td>
                    <td>شاهد</td>
                </tr>


                <tr>
                    <td>الاسم الرباعي -------------------------------</td>
                    <td>الاسم الرباعي -------------------------------</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>التوقيع -------------------------------</td>
                    <td>التوقيع -------------------------------</td>
                </tr>
            </table>
        </div>

        <div class="row">
            <h1>ملحق رقم (1)</h1>
        </div>

        <div class="row">
             <span style="color:#71BF45;">
                    <h2>المواصفات الفنية للتشطيبات في شقق روابي</h2>
             </span>
        </div>
        <div class="row">
            <span>
               سيراعى تصميم الوحدات السكنية بنماذجها المختلفة كافة عناصر الأمن و السلامة الإنشائيةّ في الهيكل الخرساني وذلك ضمن المعايير التالية:
                <br>
                1.	صممت البنايات وفق نظام إنشائي متطور.
                <br>
                2.	تلبيس جدران البنايات الخارجية بالحجر.
                <br>
                3.	استخدام مواد متطورة للعزل الحراري في البناء لترشيد استهلاك الطاقة.



            </span>
        </div>
        <br> <br> <br>
        <br>
        <div dir="ltr">
            <label class="text-center"> 8</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
    </div>


    <!-- start page 9 -->
    {% include 'unit/headers_of_word_contract/contract1.twig' %}
    <div dir="rtl">
        <div class="row">
            <span>
                4.	بلاط الأرضيات من البورسلان، وبلاط الحمامات من السيراميك.
                <br>
                5.	الأدوات الصحية وبطاريات المغاسل المركبة في حمامات الوحدات السكنية حديثة وعصرية.
                <br>
                6.	النوافذ والأبواب والترسات الجانبية مصنوعة من الزجاج المزدوج (Double- glaze) المحاط بالألمنيوم، وجميع النوافذ مزودة بأباجورات.
                <br>
                7.	الباب الرئيسي للوحدة السكنية متعدد الأقفال ومتين (Security Door).
                <br>
                8.	مفاتيح الكهرباء المركبة داخل الوحدات السكنية حديثة وعصرية.
                <br>
                9.	جميع المباني مزودة بمصاعد كهربائية حديثة تراعي السلامة العامة والأمان.
                <br>
                10.	جميع المباني مزودة بالمرايا الشمسية على الاسطح لتسخين المياه.
            </span>
        </div>

        <div class="row">
            <h1>ملحق رقم (2)</h1>
        </div>
        <div class="row">
            <span>
                القسم الأول: النظام الداخلي لاتحاد ملاك الوحدات السكنية في أحياء مدينة روابي.
            </span>
        </div>
        <div class="row">
            <span>
القسم الثاني: عقد تأسيس اتحاد ملاك الوحدات السكنية في حي
                <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">دليم</span>
                قطعة أرض رقم
                <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">12</span>
                حوض
                <span class="text-center" style="width:100px;border-bottom: 1px dashed #71BF45;color:#71BF45">3</span>
                من أراضي مدينة روابي.            </span>
        </div>

        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>

        <div dir="ltr">
            <label class="text-center"> 9</label>
            <span>صفحة رقم</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>------------------------------</span>
            <span>التوقيع</span>
        </div>
    </div>



</div>
<a class="word-export" href="javascript:void(0)"> Export as .doc </a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/FileSaver.js"></script>
<script src="js/jquery.wordexport.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.word-export").click(function (event) {
            $("#page-content").wordExport();
        });
    });
</script>
</body>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

</html>