<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            font-family: 'Yakout Linotype Light';

        }
    </style>
</head>
<body>
</body>
</html>
