{% block subject %}
    {{ subject | raw}}
{% endblock %}

{% block body %}
    <br>
    <div style="font-size:medium; float: left" dir="ltr">
        {{ content | raw}}
    </div>
{% endblock %}

